## Cleaning

In [49]:
import pandas as pd
import numpy as np
import math
import re
from datetime import datetime
import time
from sklearn.preprocessing import StandardScaler

In [72]:
df = pd.read_csv('../../data/01_raw/ACS_ALL.csv')

In [73]:
df.head()

,Unnamed: 0,B01001_002E,B01001_004E,B01001_005E,B01001_006E,B01001_007E,B01001_008E,B01001_009E,B01001_010E,B01001_011E,...,B25075_018E,B25075_019E,B25075_020E,B25075_021E,B25075_022E,B25075_023E,B25075_024E,B25075_025E,B25088_001E,year
0,AL-01,338130,21512,27052,16930,10180,4320,5079,11654,20852,...,13489.0,15305.0,10185.0,8840.0,4604.0,4470.0,916.0,1408.0,825,2010
1,AL-02,319635,22529,22712,12398,9150,4750,4981,13805,20685,...,9319.0,13565.0,8833.0,7404.0,2385.0,1336.0,889.0,939.0,715,2010
2,AL-03,333558,18639,24614,14315,14904,5765,7055,15468,21609,...,9058.0,12942.0,8486.0,9597.0,3635.0,3456.0,740.0,1820.0,715,2010
3,AL-04,325832,21657,22544,16491,9618,4840,4770,9551,18995,...,7996.0,12532.0,7008.0,6420.0,1242.0,1720.0,687.0,1434.0,598,2010
4,AL-05,352870,25380,23520,14886,10809,4933,5435,14213,22335,...,13488.0,21792.0,12114.0,13532.0,5005.0,4803.0,1255.0,1087.0,783,2010

In [74]:
df = df.rename(columns={'Unnamed: 0':'district_id'})

In [75]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3488 entries, 0 to 3487
Columns: 166 entries, district_id to year
dtypes: float64(38), int64(127), object(1)
memory usage: 4.4+ MB

In [76]:
df['year'] = df.year.apply(str)

In [77]:
df['yr_district_id'] = df[['year', 'district_id']].apply(lambda x: '-'.join(x), axis=1)

In [78]:
df.columns = ['district_id',
'Total Male',
'Male 5 to 9 years',
'Male 10 to 14 years',
'Male 15 to 17 years',
'Male 18 and 19 years',
'Male 20 years',
'Male 21 years',
'Male 22 to 24 years',
'Male 25 to 29 years',
'Male 30 to 34 years',
'Male 35 to 39 years',
'Male 40 to 44 years',
'Male 45 to 49 years',
'Male 50 to 54 years',
'Male 55 to 59 years',
'Male 60 and 61 years',
'Male 62 to 64 years',
'Male 65 and 66 years',
'Male 67 to 69 years',
'Male 70 to 74 years',
'Male 75 to 79 years',
'Male 80 to 84 years',
'Male 85 years and over',
'Total Female',
'Female 5 to 9 years',
'Female 10 to 14 years',
'Female 15 to 17 years',
'Female 18 and 19 years',
'Female 20 years',
'Female 21 years',
'Female 22 to 24 years',
'Female 25 to 29 years',
'Female 30 to 34 years',
'Female 35 to 39 years',
'Female 40 to 44 years',
'Female 45 to 49 years',
'Female 50 to 54 years',
'Female 55 to 59 years',
'Female 60 and 61 years',
'Female 62 to 64 years',
'Female 65 and 66 years',
'Female 67 to 69 years',
'Female 70 to 74 years',
'Female 75 to 79 years',
'Female 80 to 84 years',
'Female 85 years and over',
'TOTAL POPULATION',
'White alone',
'Black or African American alone',
'American Indian and Alaska Native',
'Asian alone',
'Native Hawaiian and Other Pacific',
'Some other race alone',
'Two or more races',
'Not Hispanic or Latino',
'Hispanic or Latino',
'Native',
'Native Born in state of residence',
'Native Born in other state',
'Native Born outside the US',
'Foreign born',
'population 25 and over',
'Less than high school graduate',
'High school graduate',
'Some college or associate degree',
'Bachelors degree',
'Graduate or professional degree',
'Same house 1 year ago',
'Moved within same county',
'Moved from different county',
'Moved from different state',
'Moved from abroad',
'Workers 16 and over',
'Public transportation',
'Walked',
'Worked at home',
'Enrolled in school',
'Enrolled in college',
'Enrolled in school Graduate professional',
'Population 25 and over',
'Male Bachelors',
'Male Master',
'Male Professional school',
'Male Doctorate',
'Female Bachelor',
'Female Master',
'Female Professional school',
'Female Doctorate',
'Income below poverty',
'Total Household Income',
'Income Less than 10000',
'Income 10000 to 14999',
'Income 15000 to 19999',
'Income 20000 to 24999',
'Income 25000 to 29999',
'Income 30000 to 34999',
'Income 35000 to 39999',
'Income 40000 to 44999',
'Income 45000 to 49999',
'Income 50000 to 59999',
'Income 60000 to 74999',
'Income 75000 to 99999',
'Income 100000 to 124999',
'Income 125000 to 149999',
'Income 150000 to 199999',
'Income 200000 or more',
'Median household income',
'Income Lowest Quintile',
'Income Second Quintile',
'Income Third Quintile',
'Income Fourth Quintile',
'Income Highest Quintile',
'Income Top 5 Percent',
'Veteran',
'Nonveteran',
'Population 16 and over',
'In labor force',
'Civilian in labor force',
'Civilian Employed',
'Civilian Unemployed',
'In Armed Forces',
'Total not in labor force',
'Fulltime civilian employed 16 and over',
'Male natural resources',
'Male production transportation and material moving',
'Female natural resources',
'Female production transportation and material moving',
'TOTAL HOUSING UNITS',
'Occupied',
'Vacant',
'Occupied Housing units',
'Owner occupied',
'Renter occupied',
'Owner occupied housing units',
'Housing units with a mortgage',
'Housing units without a mortgage',
'renter occupied housing units',
'Median gross rent',
'Total owner occupied housing units',
'Housing Value Below 10000',
'Housing Value 10000 to 14999',
'Housing Value 15000 to 19999',
'Housing Value 20000 to 24999',
'Housing Value 25000 to 29999',
'Housing Value 30000 to 34999',
'Housing Value 35000 to 39999',
'Housing Value 40000 to 49999',
'Housing Value 50000 to 59999',
'Housing Value 60000 to 69999',
'Housing Value 70000 to 79999',
'Housing Value 80000 to 89999',
'Housing Value 90000 to 99999',
'Housing Value 100000 to 124999',
'Housing Value 125000 to 149999',
'Housing Value 150000 to 174999',
'Housing Value 175000 to 199999',
'Housing Value 200000 to 249999',
'Housing Value 250000 to 299999',
'Housing Value 300000 to 399999',
'Housing Value 400000 to 499999',
'Housing Value 500000 to 749999',
'Housing Value 750000 to 999999',
'Housing Value 1000000 to 1499999',
'Median monthly owner costs',
'year',
'yr_district_id']

In [79]:
df.head()

,district_id,Total Male,Male 5 to 9 years,Male 10 to 14 years,Male 15 to 17 years,Male 18 and 19 years,Male 20 years,Male 21 years,Male 22 to 24 years,Male 25 to 29 years,...,Housing Value 200000 to 249999,Housing Value 250000 to 299999,Housing Value 300000 to 399999,Housing Value 400000 to 499999,Housing Value 500000 to 749999,Housing Value 750000 to 999999,Housing Value 1000000 to 1499999,Median monthly owner costs,year,yr_district_id
0,AL-01,338130,21512,27052,16930,10180,4320,5079,11654,20852,...,15305.0,10185.0,8840.0,4604.0,4470.0,916.0,1408.0,825,2010,2010-AL-01
1,AL-02,319635,22529,22712,12398,9150,4750,4981,13805,20685,...,13565.0,8833.0,7404.0,2385.0,1336.0,889.0,939.0,715,2010,2010-AL-02
2,AL-03,333558,18639,24614,14315,14904,5765,7055,15468,21609,...,12942.0,8486.0,9597.0,3635.0,3456.0,740.0,1820.0,715,2010,2010-AL-03
3,AL-04,325832,21657,22544,16491,9618,4840,4770,9551,18995,...,12532.0,7008.0,6420.0,1242.0,1720.0,687.0,1434.0,598,2010,2010-AL-04
4,AL-05,352870,25380,23520,14886,10809,4933,5435,14213,22335,...,21792.0,12114.0,13532.0,5005.0,4803.0,1255.0,1087.0,783,2010,2010-AL-05

## Feature Engineering

In [80]:
df.sort_values(['district_id', 'year'], inplace=True)

In [81]:
df['Mpop_share'] = df['Total Male']/df['TOTAL POPULATION']
df['Fpop_share'] = df['Total Female']/df['TOTAL POPULATION']

In [82]:
df['M75_above'] = df['Male 75 to 79 years'] + \
    df['Male 80 to 84 years'] + df['Male 85 years and over']
df['F75_above'] = df['Female 75 to 79 years'] + \
    df['Female 80 to 84 years'] + df['Female 85 years and over']

df['M60_74'] = df['Male 70 to 74 years'] + df['Male 67 to 69 years'] + \
    df['Male 65 and 66 years'] + \
    df['Male 60 and 61 years'] + df['Male 62 to 64 years']
df['F60_74'] = df['Female 70 to 74 years'] + df['Female 67 to 69 years'] + \
    df['Female 65 and 66 years'] + \
    df['Female 60 and 61 years'] + df['Female 62 to 64 years']

df['M45_59'] = df['Male 45 to 49 years'] + \
    df['Male 50 to 54 years'] + df['Male 55 to 59 years']
df['F45_59'] = df['Female 45 to 49 years'] + \
    df['Female 50 to 54 years'] + df['Female 55 to 59 years']

df['M30_44'] = df['Male 30 to 34 years'] + \
    df['Male 35 to 39 years'] + df['Male 40 to 44 years']
df['F30_44'] = df['Female 30 to 34 years'] + \
    df['Female 35 to 39 years'] + df['Female 40 to 44 years']

df['M18_29'] = df['Male 18 and 19 years'] + df['Male 20 years'] + df['Male 21 years'] + df['Male 22 to 24 years'] + \
    df['Male 25 to 29 years']
df['F18_29'] = df['Female 18 and 19 years'] + df['Female 20 years'] + df['Female 21 years'] + df['Female 22 to 24 years'] + \
    df['Female 25 to 29 years']

df['M18_below'] = df['Total Male'] - df['M18_29'] - \
    df['M30_44'] - df['M45_59'] - df['M60_74'] - df['M75_above']
df['F18_below'] = df['Total Female'] - df['F18_29'] - \
    df['F30_44'] - df['F45_59'] - df['F60_74'] - df['F75_above']

df['M18_above'] = df['Total Male'] - df['M18_below']
df['F18_above'] = df['Total Female'] - df['F18_below']

df['M25_above'] = df['Total Male'] - df['M18_below'] - \
    (df['Male 18 and 19 years'] + df['Male 20 years'] +
     df['Male 21 years'] + df['Male 22 to 24 years'])

df['F25_above'] = df['Total Female'] - df['F18_below'] - \
    (df['Female 18 and 19 years'] + df['Female 20 years'] +
     df['Female 21 years'] + df['Female 22 to 24 years'])

In [83]:
df['M18_below_share'] = df['M18_below'] / df['Total Male']
df['F18_below_share'] = df['F18_below'] / df['Total Female']
df['18_below_share'] = (df['M18_below'] + df['F18_below'])/df['TOTAL POPULATION']

df['M18_above'] = df['M18_above'] / df['Total Male']
df['F18_above'] = df['F18_above'] / df['Total Female']
df['18_above_share'] = (df['M18_above'] + df['F18_above'])/df['TOTAL POPULATION']

df['M18_29_share'] = df['M18_29'] / df['Total Male']
df['F18_29_share'] = df['F18_29'] / df['Total Female']
df['18_29_share'] = (df['M18_29'] + df['F18_29'])/df['TOTAL POPULATION']

df['M30_44_share'] = df['M30_44'] / df['Total Male']
df['F30_44_share'] = df['F30_44'] / df['Total Female']
df['30_44_share'] = (df['M30_44'] + df['F30_44'])/df['TOTAL POPULATION']

df['M45_59_share'] = df['M45_59'] / df['Total Male']
df['F45_59_share'] = df['F45_59'] / df['Total Female']
df['45_59_share'] = (df['M45_59'] + df['F45_59'])/df['TOTAL POPULATION']

df['M60_74_share'] = df['M60_74'] / df['Total Male']
df['F60_74_share'] = df['F60_74'] / df['Total Female']
df['60_74_share'] = (df['M60_74'] + df['F60_74'])/df['TOTAL POPULATION']

df['M75_above_share'] = df['M75_above'] / df['Total Male']
df['F75_above_share'] = df['F75_above'] / df['Total Female']
df['75_above_share'] = (df['M75_above'] + df['F75_above_share'])/df['TOTAL POPULATION']

In [84]:
df['white_share'] = df['White alone'] / df['TOTAL POPULATION']
df['black_share'] = df['Black or African American alone'] / df['TOTAL POPULATION']
df['asian_share'] = df['Asian alone'] / df['TOTAL POPULATION']
df['hispanic_share'] = df['Hispanic or Latino'] / df['TOTAL POPULATION']
df['otherrace_share'] = (df['TOTAL POPULATION']-df['White alone']-df['Black or African American alone']-df['Asian alone']) / df['TOTAL POPULATION']
df['native_share'] = df['Native'] / df['TOTAL POPULATION']
df['nativeinstate_share'] = df['Native Born in state of residence'] / df['TOTAL POPULATION']
df['nativeoutofstate_share'] = df['Native Born in other state'] / df['TOTAL POPULATION']
df['foreignborn_share'] = df['Foreign born'] / df['TOTAL POPULATION']

In [85]:
df['HS_below_share'] = df['Less than high school graduate'] / df['population 25 and over']
df['HS_share'] = df['High school graduate'] / df['population 25 and over']
df['somecollege_share'] = df['Some college or associate degree'] / df['population 25 and over']
df['college_share'] = df['Bachelors degree'] / df['population 25 and over']
df['graddeg_share'] = df['Graduate or professional degree'] / df['population 25 and over']

df['samehouse_share'] = df['Same house 1 year ago'] / df['TOTAL POPULATION']
df['samecounty_share'] = df['Moved within same county'] / df['TOTAL POPULATION']
df['samestate_share'] = df['Moved from different county'] / df['TOTAL POPULATION']
df['diffstate_share'] = df['Moved from different state'] / df['TOTAL POPULATION']
df['liveabroad_share'] = df['Moved from abroad'] / df['TOTAL POPULATION']

In [86]:
df['ptransport_share'] = df['Public transportation']/df['Workers 16 and over']
df['walktowork_share'] = df['Walked']/df['Workers 16 and over']
df['workathome_share'] = df['Worked at home']/df['Workers 16 and over']

df['inschool_share'] = df['Enrolled in school']/(df['M18_above'] + df['F18_above'])
df['incollege_share'] = df['Enrolled in college']/(df['M18_above'] + df['F18_above'])
df['ingradschool_share'] = df['Enrolled in school Graduate professional']/(df['M18_above'] + df['F18_above'])

In [87]:
df['M_college_share'] = df['Male Bachelors']/df['M25_above']
df['M_graddeg_share'] = (df['Male Master'] + df['Male Professional school'])/df['M25_above']
df['M_phd_share'] = df['Male Doctorate']/df['M25_above']

df['F_college_share'] = df['Female Bachelor']/df['F25_above']
df['F_graddeg_share'] = (df['Female Master'] + df['Female Professional school'])/df['F25_above']
df['F_phd_share'] = df['Female Doctorate']/df['F25_above']

In [88]:
df['poverty_share'] = df['Income below poverty'] / df['TOTAL POPULATION']
df['hhinc_10k_less_share'] = df['Income Less than 10000'] / df['Total Household Income']

In [89]:
df['hhinc_30k_less_share'] = (df['Income Less than 10000'] + df['Income 10000 to 14999']\
                              + df['Income 15000 to 19999'] +
                              df['Income 20000 to 24999'] + df['Income 25000 to 29999'])/\
df['Total Household Income']

In [90]:
df['hhinc_50k_less_share'] = (df['Income Less than 10000'] + df['Income 10000 to 14999']\
                              + df['Income 15000 to 19999'] +
                              df['Income 20000 to 24999'] + df['Income 25000 to 29999']\
                              + df['Income 30000 to 34999'] + df['Income 35000 to 39999']\
                              + df['Income 40000 to 44999'] +\
                              df['Income 45000 to 49999'])/ df['Total Household Income']

In [91]:
df['hhinc_75k_more_share'] = (df['Income 75000 to 99999'] + df['Income 100000 to 124999']\
                              + df['Income 125000 to 149999'] + df['Income 150000 to 199999']\
                              + df['Income 200000 or more'])/df['Total Household Income']

In [92]:
df['hhinc_100k_more_share'] = (df['Income 100000 to 124999']\
                              + df['Income 125000 to 149999'] + df['Income 150000 to 199999']\
                              + df['Income 200000 or more'])/df['Total Household Income']

In [93]:
df['hhinc_125k_more_share'] = (df['Income 125000 to 149999'] + df['Income 150000 to 199999']\
                              + df['Income 200000 or more'])/df['Total Household Income']

In [94]:
df['hhinc_150k_more_share'] = (df['Income 150000 to 199999']\
                              + df['Income 200000 or more'])/df['Total Household Income']

In [95]:
df['hhinc_200k_more_share'] = df['Income 200000 or more']/df['Total Household Income']

In [96]:
df['veteran'] = df['Veteran']/(df['M18_above'] + df['F18_above'])
df['LFPR'] = df['In labor force']/df['Population 16 and over']
df['Unemp_rate'] = df['Civilian Unemployed']/df['Civilian in labor force']
df['armedforce_share'] = df['In Armed Forces']/df['In labor force']
df['naturalresourcesemp_share'] = (df['Male natural resources']+df['Female natural resources'])\
    / df['Fulltime civilian employed 16 and over']
df['bluecollaremp_share'] = (df['Male production transportation and material moving']
                             + df['Female production transportation and material moving'])\
    / df['Fulltime civilian employed 16 and over']

In [97]:
df['vacanthousing_share'] = df['Vacant']/ df['TOTAL HOUSING UNITS']
df['renter_share'] = df['Renter occupied']/df['Occupied Housing units']
df['mortgage_share'] = df['Housing units with a mortgage']/df['Owner occupied housing units']

df['housevalue_10k_less_share'] = df['Housing Value Below 10000']/df['Total owner occupied housing units']

df['housevalue_50k_less_share'] = (df['Housing Value Below 10000'] + df['Housing Value 10000 to 14999'] +\
df['Housing Value 15000 to 19999']+df['Housing Value 20000 to 24999']+df['Housing Value 25000 to 29999']\
+df['Housing Value 30000 to 34999']+df['Housing Value 35000 to 39999']+df['Housing Value 40000 to 49999'])\
/df['Total owner occupied housing units']

df['housevalue_100k_less_share'] = (df['Housing Value Below 10000'] + df['Housing Value 10000 to 14999'] +\
df['Housing Value 15000 to 19999']+df['Housing Value 20000 to 24999']+df['Housing Value 25000 to 29999']\
+df['Housing Value 30000 to 34999']+df['Housing Value 35000 to 39999']+df['Housing Value 40000 to 49999']\
+df['Housing Value 50000 to 59999'] + df['Housing Value 60000 to 69999'] +\
df['Housing Value 70000 to 79999']+df['Housing Value 80000 to 89999']+df['Housing Value 90000 to 99999'])\
/df['Total owner occupied housing units']

df['housevalue_300k_more_share'] = (df['Housing Value 300000 to 399999'] + df['Housing Value 400000 to 499999'] +\
df['Housing Value 500000 to 749999']+df['Housing Value 750000 to 999999']+df['Housing Value 1000000 to 1499999'])\
/df['Total owner occupied housing units']

df['housevalue_500k_more_share'] = (df['Housing Value 500000 to 749999']+df['Housing Value 750000 to 999999']\
                                    +df['Housing Value 1000000 to 1499999'])/df['Total owner occupied housing units']

df['housevalue_750k_more_share'] = (df['Housing Value 750000 to 999999']\
                                    +df['Housing Value 1000000 to 1499999'])/df['Total owner occupied housing units']
df['housevalue_1m_more_share'] = df['Housing Value 1000000 to 1499999']/df['Total owner occupied housing units']

In [98]:
df.head()

,district_id,Total Male,Male 5 to 9 years,Male 10 to 14 years,Male 15 to 17 years,Male 18 and 19 years,Male 20 years,Male 21 years,Male 22 to 24 years,Male 25 to 29 years,...,vacanthousing_share,renter_share,mortgage_share,housevalue_10k_less_share,housevalue_50k_less_share,housevalue_100k_less_share,housevalue_300k_more_share,housevalue_500k_more_share,housevalue_750k_more_share,housevalue_1m_more_share
7,AK-00,372436,26347,28085,16477,10063,6832,7412,15550,30013,...,0.170827,0.360650,0.692072,0.006260,0.059545,0.111018,0.315527,0.071217,0.017237,0.005959
443,AK-00,372916,26470,26684,15011,10360,7715,7243,17620,29825,...,0.173056,0.369246,0.651307,0.006943,0.057741,0.127341,0.315306,0.067383,0.014700,0.005952
879,AK-00,381094,27033,26425,15899,12008,5837,7258,19766,29302,...,0.181963,0.366476,0.651947,0.004504,0.060830,0.126421,0.325923,0.058252,0.017030,0.005752
1315,AK-00,386404,26989,27265,15762,13616,7275,5951,20382,32970,...,0.199735,0.365457,0.634994,0.011197,0.053079,0.104902,0.345206,0.069978,0.019564,0.005637
1751,AK-00,385582,27517,25859,14719,11840,6167,8413,22074,33536,...,0.190919,0.375124,0.661378,0.020147,0.079337,0.127482,0.351307,0.070779,0.017551,0.005564

In [99]:
varlist = ['Mpop_share','Fpop_share','M18_below_share','F18_below_share','18_below_share',\
           'M18_above','F18_above','18_above_share','M18_29_share','F18_29_share','18_29_share',\
           'M30_44_share','F30_44_share','30_44_share','M45_59_share','F45_59_share','45_59_share',\
           'M60_74_share','F60_74_share','60_74_share','M75_above_share','F75_above_share','75_above_share',\
           'white_share', 'black_share','asian_share','hispanic_share','otherrace_share','native_share',\
           'nativeinstate_share','nativeoutofstate_share','foreignborn_share', 'HS_below_share','HS_share',\
           'somecollege_share','college_share','graddeg_share','samehouse_share','samecounty_share',\
           'samestate_share', 'diffstate_share' ,'liveabroad_share','ptransport_share','walktowork_share',\
           'workathome_share','inschool_share','incollege_share','ingradschool_share','M_college_share',\
           'M_graddeg_share','M_phd_share','F_college_share','F_graddeg_share','F_phd_share','poverty_share',\
           'hhinc_10k_less_share','hhinc_30k_less_share','hhinc_50k_less_share','hhinc_75k_more_share',\
           'hhinc_100k_more_share','hhinc_125k_more_share','hhinc_150k_more_share','hhinc_200k_more_share',\
           'veteran','LFPR','Unemp_rate','armedforce_share','naturalresourcesemp_share','bluecollaremp_share',\
           'vacanthousing_share','renter_share','mortgage_share','housevalue_10k_less_share',\
           'housevalue_50k_less_share','housevalue_100k_less_share','housevalue_300k_more_share',\
           'housevalue_500k_more_share','housevalue_750k_more_share','housevalue_1m_more_share',\
           'Median household income','Income Lowest Quintile','Income Second Quintile','Income Third Quintile',\
           'Income Fourth Quintile','Income Highest Quintile','Income Top 5 Percent','Median gross rent',\
           'Median monthly owner costs']

for var in varlist:
    df[f'L1_{var}']= df[var].shift()
    df[f'L2_{var}']= df[var].shift(2)
    df[f'diff1_{var}'] = df[var] - df[f'L1_{var}']
    df[f'diff2_{var}'] = df[var] - df[f'L2_{var}']

In [100]:
df.head(50)

,district_id,Total Male,Male 5 to 9 years,Male 10 to 14 years,Male 15 to 17 years,Male 18 and 19 years,Male 20 years,Male 21 years,Male 22 to 24 years,Male 25 to 29 years,...,diff1_Income Top 5 Percent,diff2_Income Top 5 Percent,L1_Median gross rent,L2_Median gross rent,diff1_Median gross rent,diff2_Median gross rent,L1_Median monthly owner costs,L2_Median monthly owner costs,diff1_Median monthly owner costs,diff2_Median monthly owner costs
7,AK-00,372436,26347,28085,16477,10063,6832,7412,15550,30013,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
443,AK-00,372916,26470,26684,15011,10360,7715,7243,17620,29825,...,5002.0,NaN,981.0,NaN,68.0,NaN,1363.0,NaN,-17.0,NaN
879,AK-00,381094,27033,26425,15899,12008,5837,7258,19766,29302,...,7969.0,12971.0,1049.0,981.0,71.0,139.0,1346.0,1363.0,18.0,1.0
1315,AK-00,386404,26989,27265,15762,13616,7275,5951,20382,32970,...,9226.0,17195.0,1120.0,1049.0,-3.0,68.0,1364.0,1346.0,-53.0,-35.0
1751,AK-00,385582,27517,25859,14719,11840,6167,8413,22074,33536,...,6332.0,15558.0,1117.0,1120.0,66.0,63.0,1311.0,1364.0,55.0,2.0
2187,AK-00,388695,26777,25914,15522,11287,7908,7159,21909,33887,...,53936.0,60268.0,1183.0,1117.0,-20.0,46.0,1366.0,1311.0,-6.0,49.0
2623,AK-00,390573,26386,29741,15986,10746,5080,6496,21626,32916,...,-49474.0,4462.0,1163.0,1183.0,45.0,25.0,1360.0,1366.0,0.0,-6.0
3059,AK-00,385776,27390,25234,15373,10731,5167,7294,17918,33805,...,19537.0,-29937.0,1208.0,1163.0,-7.0,38.0,1360.0,1360.0,13.0,13.0
0,AL-01,338130,21512,27052,16930,10180,4320,5079,11654,20852,...,-104513.0,-84976.0,1201.0,1208.0,-492.0,-499.0,1373.0,1360.0,-548.0,-535.0
436,AL-01,334016,25040,22132,13880,10077,3200,4561,14014,22259,...,-6970.0,-111483.0,709.0,1201.0,46.0,-446.0,825.0,1373.0,4.0,-544.0
872,AL-01,336325,22398,24967,15563,9222,4496,5406,12275,21798,...,-11026.0,-17996.0,755.0,709.0,0.0,46.0,829.0,825.0,-51.0,-47.0
1308,AL-01,336283,22925,23840,14291,9360,4072,4566,14816,21463,...,12436.0,1410.0,755.0,755.0,6.0,6.0,778.0,829.0,-42.0,-93.0
1744,AL-01,337140,22404,25905,12773,9477,4140,4647,13936,19859,...,4116.0,16552.0,761.0,755.0,41.0,47.0,736.0,778.0,57.0,15.0
2180,AL-01,342475,23774,25135,14337,7742,4412,6260,12685,22369,...,36869.0,40985.0,802.0,761.0,-5.0,36.0,793.0,736.0,-36.0,21.0
2616,AL-01,338759,22527,23756,15335,8611,5007,4332,12037,22600,...,-6595.0,30274.0,797.0,802.0,11.0,6.0,757.0,793.0,18.0,-18.0
3052,AL-01,343769,21687,24958,15014,7992,4696,3634,12679,23832,...,21018.0,14423.0,808.0,797.0,13.0,24.0,775.0,757.0,-4.0,14.0
1,AL-02,319635,22529,22712,12398,9150,4750,4981,13805,20685,...,-91289.0,-70271.0,821.0,808.0,-162.0,-149.0,771.0,775.0,-56.0,-60.0
437,AL-02,327723,21951,24094,15208,9348,4100,4181,15183,22756,...,14895.0,-76394.0,659.0,821.0,3.0,-159.0,715.0,771.0,-17.0,-73.0
873,AL-02,331111,22559,24422,12375,10830,5168,4384,13440,22796,...,-189.0,14706.0,662.0,659.0,40.0,43.0,698.0,715.0,-33.0,-50.0
1309,AL-02,335331,23229,26177,12682,9254,6627,6399,12805,20215,...,2561.0,2372.0,702.0,662.0,-8.0,32.0,665.0,698.0,-17.0,-50.0
1745,AL-02,331056,22489,23546,13803,8881,3668,4902,17823,21419,...,3389.0,5950.0,694.0,702.0,26.0,18.0,648.0,665.0,27.0,10.0
2181,AL-02,329479,23629,23404,13072,9164,7083,4840,11865,21569,...,46228.0,49617.0,720.0,694.0,0.0,26.0,675.0,648.0,2.0,29.0
2617,AL-02,332477,24514,20603,14324,8992,4363,4002,14589,24093,...,-2151.0,44077.0,720.0,720.0,28.0,28.0,677.0,675.0,4.0,6.0
3053,AL-02,328474,21345,23661,13221,10058,5226,2959,13831,24024,...,6808.0,4657.0,748.0,720.0,14.0,42.0,681.0,677.0,14.0,18.0
2,AL-03,333558,18639,24614,14315,14904,5765,7055,15468,21609,...,-78904.0,-72096.0,762.0,748.0,-122.0,-108.0,695.0,681.0,20.0,34.0
438,AL-03,332280,22455,22956,13435,12496,7862,6545,16623,21286,...,12070.0,-66834.0,640.0,762.0,23.0,-99.0,715.0,695.0,-6.0,14.0
874,AL-03,340523,21906,24121,13746,10627,5912,7765,17446,21804,...,13279.0,25349.0,663.0,640.0,8.0,31.0,709.0,715.0,-30.0,-36.0
1310,AL-03,340944,21247,24277,12224,11937,7971,7272,15011,22618,...,23739.0,37018.0,671.0,663.0,-15.0,-7.0,679.0,709.0,-10.0,-40.0
1746,AL-03,345886,21225,24373,15068,11601,6381,7322,15352,21508,...,-5180.0,18559.0,656.0,671.0,27.0,12.0,669.0,679.0,17.0,7.0
2182,AL-03,345053,24317,20863,14158,12274,7659,6062,14197,21140,...,-12182.0,-17362.0,683.0,656.0,41.0,68.0,686.0,669.0,-33.0,-16.0
2618,AL-03,344900,25641,20409,15045,10236,5844,6586,15947,24515,...,29714.0,17532.0,724.0,683.0,-9.0,32.0,653.0,686.0,14.0,-19.0
3054,AL-03,346742,22945,24502,12872,11286,7198,5424,15010,22041,...,3849.0,33563.0,715.0,724.0,-12.0,-21.0,667.0,653.0,-46.0,-32.0
3,AL-04,325832,21657,22544,16491,9618,4840,4770,9551,18995,...,-55208.0,-51359.0,703.0,715.0,-130.0,-142.0,621.0,667.0,-23.0,-69.0
439,AL-04,323747,19213,23020,15271,8553,4606,4513,10950,18619,...,7759.0,-47449.0,573.0,703.0,-15.0,-145.0,598.0,621.0,-9.0,-32.0
875,AL-04,331717,23306,22547,14107,10406,4885,4745,12268,17958,...,-3519.0,4240.0,558.0,573.0,6.0,-9.0,589.0,598.0,-19.0,-28.0
1311,AL-04,333159,22658,22799,13031,7503,3820,4319,15471,19676,...,-492.0,-4011.0,564.0,558.0,17.0,23.0,570.0,589.0,22.0,3.0
1747,AL-04,335709,23195,22754,15494,8252,4418,3751,13289,19458,...,2442.0,1950.0,581.0,564.0,18.0,35.0,592.0,570.0,-8.0,14.0
2183,AL-04,333988,21781,23127,13943,7810,3253,4642,12117,21178,...,32772.0,35214.0,599.0,581.0,9.0,27.0,584.0,592.0,-20.0,-28.0
2619,AL-04,334330,20462,23088,15482,9401,4494,3932,10812,19865,...,-6166.0,26606.0,608.0,599.0,9.0,18.0,564.0,584.0,2.0,-18.0
3055,AL-04,332923,23278,21585,12877,10731,4174,3570,11811,21088,...,10413.0,4247.0,617.0,608.0,-4.0,5.0,566.0,564.0,-18.0,-16.0
4,AL-05,352870,25380,23520,14886,10809,4933,5435,14213,22335,...,15054.0,25467.0,613.0,617.0,15.0,11.0,548.0,566.0,235.0,217.0
440,AL-05,355468,22722,24914,15304,10956,5298,4738,14457,23671,...,-4602.0,10452.0,628.0,613.0,19.0,34.0,783.0,548.0,16.0,251.0
876,AL-05,341689,25504,20809,14256,9195,4819,6075,13089,21982,...,915.0,-3687.0,647.0,628.0,-5.0,14.0,799.0,783.0,-2.0,14.0
1312,AL-05,343859,20437,24515,14077,10154,4053,6925,15542,21608,...,32718.0,33633.0,642.0,647.0,29.0,24.0,797.0,799.0,-12.0,-14.0
1748,AL-05,343328,20462,24040,13680,9051,5295,3080,16022,22760,...,7829.0,40547.0,671.0,642.0,3.0,32.0,785.0,797.0,11.0,-1.0
2184,AL-05,348199,24285,21392,14772,9390,4516,5882,14034,22694,...,-3.0,7826.0,674.0,671.0,20.0,23.0,796.0,785.0,-14.0,-3.0
2620,AL-05,351008,24319,22888,15655,10211,6151,4140,12300,23825,...,21798.0,21795.0,694.0,674.0,29.0,49.0,782.0,796.0,19.0,5.0
3056,AL-05,353533,22442,23188,14620,9218,3202,6043,14823,25075,...,-21332.0,466.0,723.0,694.0,6.0,35.0,801.0,782.0,-14.0,5.0
5,AL-06,362235,25741,24341,16366,9212,5298,4255,12074,25381,...,10842.0,-10490.0,729.0,723.0,105.0,111.0,787.0,801.0,286.0,272.0
441,AL-06,369939,25364,24862,15113,8290,5063,4315,14846,24517,...,35665.0,46507.0,834.0,729.0,21.0,126.0,1073.0,787.0,-31.0,255.0

## These vars need to be standardized by year:

'Median household income',
'Income Lowest Quintile',
'Income Second Quintile',
'Income Third Quintile',
'Income Fourth Quintile',
'Income Highest Quintile',
'Income Top 5 Percent',
'Median gross rent',
'Median monthly owner costs'

In [101]:
print(df.shape)
df.head()

(3488, 612)

,district_id,Total Male,Male 5 to 9 years,Male 10 to 14 years,Male 15 to 17 years,Male 18 and 19 years,Male 20 years,Male 21 years,Male 22 to 24 years,Male 25 to 29 years,...,diff1_Income Top 5 Percent,diff2_Income Top 5 Percent,L1_Median gross rent,L2_Median gross rent,diff1_Median gross rent,diff2_Median gross rent,L1_Median monthly owner costs,L2_Median monthly owner costs,diff1_Median monthly owner costs,diff2_Median monthly owner costs
7,AK-00,372436,26347,28085,16477,10063,6832,7412,15550,30013,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
443,AK-00,372916,26470,26684,15011,10360,7715,7243,17620,29825,...,5002.0,NaN,981.0,NaN,68.0,NaN,1363.0,NaN,-17.0,NaN
879,AK-00,381094,27033,26425,15899,12008,5837,7258,19766,29302,...,7969.0,12971.0,1049.0,981.0,71.0,139.0,1346.0,1363.0,18.0,1.0
1315,AK-00,386404,26989,27265,15762,13616,7275,5951,20382,32970,...,9226.0,17195.0,1120.0,1049.0,-3.0,68.0,1364.0,1346.0,-53.0,-35.0
1751,AK-00,385582,27517,25859,14719,11840,6167,8413,22074,33536,...,6332.0,15558.0,1117.0,1120.0,66.0,63.0,1311.0,1364.0,55.0,2.0

#### Read in cleaned ACS data with features

In [8]:
acs_cleaned = pd.read_csv('../../data/02_intermediate/ACS_Features_1218.csv')
print(acs_cleaned.shape)
acs_cleaned.head()

(3488, 614)

,district_id,year,Total Male,Male 5 to 9 years,Male 10 to 14 years,Male 15 to 17 years,Male 18 and 19 years,Male 20 years,Male 21 years,Male 22 to 24 years,...,diff1_Income Top 5 Percent,diff2_Income Top 5 Percent,L1_Median gross rent,L2_Median gross rent,diff1_Median gross rent,diff2_Median gross rent,L1_Median monthly owner costs,L2_Median monthly owner costs,diff1_Median monthly owner costs,diff2_Median monthly owner costs
0,AK-00,2010,372436,26347,28085,16477,10063,6832,7412,15550,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AK-00,2011,372916,26470,26684,15011,10360,7715,7243,17620,...,5002.0,NaN,981.0,NaN,68.0,NaN,1363.0,NaN,-17.0,NaN
2,AK-00,2012,381094,27033,26425,15899,12008,5837,7258,19766,...,7969.0,12971.0,1049.0,981.0,71.0,139.0,1346.0,1363.0,18.0,1.0
3,AK-00,2013,386404,26989,27265,15762,13616,7275,5951,20382,...,9226.0,17195.0,1120.0,1049.0,-3.0,68.0,1364.0,1346.0,-53.0,-35.0
4,AK-00,2014,385582,27517,25859,14719,11840,6167,8413,22074,...,6332.0,15558.0,1117.0,1120.0,66.0,63.0,1311.0,1364.0,55.0,2.0

Re-order and clean column names

In [10]:
acs_cleaned = acs_cleaned[[
 'district_id',
 'year',
 'yr_district_id',
 'Total Male',
 'Male 5 to 9 years',
 'Male 10 to 14 years',
 'Male 15 to 17 years',
 'Male 18 and 19 years',
 'Male 20 years',
 'Male 21 years',
 'Male 22 to 24 years',
 'Male 25 to 29 years',
 'Male 30 to 34 years',
 'Male 35 to 39 years',
 'Male 40 to 44 years',
 'Male 45 to 49 years',
 'Male 50 to 54 years',
 'Male 55 to 59 years',
 'Male 60 and 61 years',
 'Male 62 to 64 years',
 'Male 65 and 66 years',
 'Male 67 to 69 years',
 'Male 70 to 74 years',
 'Male 75 to 79 years',
 'Male 80 to 84 years',
 'Male 85 years and over',
 'Total Female',
 'Female 5 to 9 years',
 'Female 10 to 14 years',
 'Female 15 to 17 years',
 'Female 18 and 19 years',
 'Female 20 years',
 'Female 21 years',
 'Female 22 to 24 years',
 'Female 25 to 29 years',
 'Female 30 to 34 years',
 'Female 35 to 39 years',
 'Female 40 to 44 years',
 'Female 45 to 49 years',
 'Female 50 to 54 years',
 'Female 55 to 59 years',
 'Female 60 and 61 years',
 'Female 62 to 64 years',
 'Female 65 and 66 years',
 'Female 67 to 69 years',
 'Female 70 to 74 years',
 'Female 75 to 79 years',
 'Female 80 to 84 years',
 'Female 85 years and over',
 'TOTAL POPULATION',
 'White alone',
 'Black or African American alone',
 'American Indian and Alaska Native',
 'Asian alone',
 'Native Hawaiian and Other Pacific',
 'Some other race alone',
 'Two or more races',
 'Not Hispanic or Latino',
 'Hispanic or Latino',
 'Native',
 'Native Born in state of residence',
 'Native Born in other state',
 'Native Born outside the US',
 'Foreign born',
 'population 25 and over',
 'Less than high school graduate',
 'High school graduate',
 'Some college or associate degree',
 'Bachelors degree',
 'Graduate or professional degree',
 'Same house 1 year ago',
 'Moved within same county',
 'Moved from different county',
 'Moved from different state',
 'Moved from abroad',
 'Workers 16 and over',
 'Public transportation',
 'Walked',
 'Worked at home',
 'Enrolled in school',
 'Enrolled in college',
 'Enrolled in school Graduate professional',
 'Population 25 and over',
 'Male Bachelors',
 'Male Master',
 'Male Professional school',
 'Male Doctorate',
 'Female Bachelor',
 'Female Master',
 'Female Professional school',
 'Female Doctorate',
 'Income below poverty',
 'Total Household Income',
 'Income Less than 10000',
 'Income 10000 to 14999',
 'Income 15000 to 19999',
 'Income 20000 to 24999',
 'Income 25000 to 29999',
 'Income 30000 to 34999',
 'Income 35000 to 39999',
 'Income 40000 to 44999',
 'Income 45000 to 49999',
 'Income 50000 to 59999',
 'Income 60000 to 74999',
 'Income 75000 to 99999',
 'Income 100000 to 124999',
 'Income 125000 to 149999',
 'Income 150000 to 199999',
 'Income 200000 or more',
 'Median household income',
 'Income Lowest Quintile',
 'Income Second Quintile',
 'Income Third Quintile',
 'Income Fourth Quintile',
 'Income Highest Quintile',
 'Income Top 5 Percent',
 'Veteran',
 'Nonveteran',
 'Population 16 and over',
 'In labor force',
 'Civilian in labor force',
 'Civilian Employed',
 'Civilian Unemployed',
 'In Armed Forces',
 'Total not in labor force',
 'Fulltime civilian employed 16 and over',
 'Male natural resources',
 'Male production transportation and material moving',
 'Female natural resources',
 'Female production transportation and material moving',
 'TOTAL HOUSING UNITS',
 'Occupied',
 'Vacant',
 'Occupied Housing units',
 'Owner occupied',
 'Renter occupied',
 'Owner occupied housing units',
 'Housing units with a mortgage',
 'Housing units without a mortgage',
 'renter occupied housing units',
 'Median gross rent',
 'Total owner occupied housing units',
 'Housing Value Below 10000',
 'Housing Value 10000 to 14999',
 'Housing Value 15000 to 19999',
 'Housing Value 20000 to 24999',
 'Housing Value 25000 to 29999',
 'Housing Value 30000 to 34999',
 'Housing Value 35000 to 39999',
 'Housing Value 40000 to 49999',
 'Housing Value 50000 to 59999',
 'Housing Value 60000 to 69999',
 'Housing Value 70000 to 79999',
 'Housing Value 80000 to 89999',
 'Housing Value 90000 to 99999',
 'Housing Value 100000 to 124999',
 'Housing Value 125000 to 149999',
 'Housing Value 150000 to 174999',
 'Housing Value 175000 to 199999',
 'Housing Value 200000 to 249999',
 'Housing Value 250000 to 299999',
 'Housing Value 300000 to 399999',
 'Housing Value 400000 to 499999',
 'Housing Value 500000 to 749999',
 'Housing Value 750000 to 999999',
 'Housing Value 1000000 to 1499999',
 'Median monthly owner costs',
 'malepop_share',
 'femalepop_share',
 'M75_above',
 'F75_above',
 'M60_74',
 'F60_74',
 'M45_59',
 'F45_59',
 'M30_44',
 'F30_44',
 'M18_29',
 'F18_29',
 'M18_below',
 'F18_below',
 'M18_below_share',
 'F18_below_share',
 '18_below_share',
 'M18_29_share',
 'F18_29_share',
 '18_29_share',
 'M30_44_share',
 'F30_44_share',
 '30_44_share',
 'M45_59_share',
 'F45_59_share',
 '45_59_share',
 'M60_74_share',
 'F60_74_share',
 '60_74_share',
 'M75_above_share',
 'F75_above_share',
 '75_above_share',
 'white_share',
 'black_share',
 'asian_share',
 'hispanic_share',
 'otherrace_share',
 'native_share',
 'nativeinstate_share',
 'nativeoutofstate_share',
 'foreignborn_share',
 'HS_below_share',
 'HS_share',
 'somecollege_share',
 'college_share',
 'graddeg_share',
 'samehouse_share',
 'samecounty_share',
 'samestate_share',
 'diffstate_share',
 'liveabroad_share',
 'M18_above',
 'F18_above',
 '18_above_share',
 'ptransport_share',
 'walktowork_share',
 'workathome_share',
 'inschool_share',
 'incollege_share',
 'ingradschool_share',
 'M25_above',
 'F25_above',
 'M_college_share',
 'M_graddeg_share',
 'M_phd_share',
 'F_college_share',
 'F_graddeg_share',
 'F_phd_share',
 'poverty_share',
 'hhinc_10k_less_share',
 'hhinc_30k_less_share',
 'hhinc_50k_less_share',
 'hhinc_75k_more_share',
 'hhinc_100k_more_share',
 'hhinc_125k_more_share',
 'hhinc_150k_more_share',
 'hhinc_200k_more_share',
 'veteran',
 'LFPR',
 'Unemp_rate',
 'armedforce_share',
 'naturalresourcesemp_share',
 'bluecollaremp_share',
 'vacanthousing_share',
 'renter_share',
 'mortgage_share',
 'housevalue_10k_less_share',
 'housevalue_50k_less_share',
 'housevalue_100k_less_share',
 'housevalue_300k_more_share',
 'housevalue_500k_more_share',
 'housevalue_750k_more_share',
 'housevalue_1m_more_share',
 'Mpop_share',
 'Fpop_share',
 'L1_Mpop_share',
 'L2_Mpop_share',
 'L1_Fpop_share',
 'L2_Fpop_share',
 'diff1_Mpop_share',
 'diff2_Mpop_share',
 'diff1_Fpop_share',
 'diff2_Fpop_share',
 'L1_M18_below_share',
 'L2_M18_below_share',
 'diff1_M18_below_share',
 'diff2_M18_below_share',
 'L1_F18_below_share',
 'L2_F18_below_share',
 'diff1_F18_below_share',
 'diff2_F18_below_share',
 'L1_18_below_share',
 'L2_18_below_share',
 'diff1_18_below_share',
 'diff2_18_below_share',
 'L1_M18_above',
 'L2_M18_above',
 'diff1_M18_above',
 'diff2_M18_above',
 'L1_F18_above',
 'L2_F18_above',
 'diff1_F18_above',
 'diff2_F18_above',
 'L1_18_above_share',
 'L2_18_above_share',
 'diff1_18_above_share',
 'diff2_18_above_share',
 'L1_M18_29_share',
 'L2_M18_29_share',
 'diff1_M18_29_share',
 'diff2_M18_29_share',
 'L1_F18_29_share',
 'L2_F18_29_share',
 'diff1_F18_29_share',
 'diff2_F18_29_share',
 'L1_18_29_share',
 'L2_18_29_share',
 'diff1_18_29_share',
 'diff2_18_29_share',
 'L1_M30_44_share',
 'L2_M30_44_share',
 'diff1_M30_44_share',
 'diff2_M30_44_share',
 'L1_F30_44_share',
 'L2_F30_44_share',
 'diff1_F30_44_share',
 'diff2_F30_44_share',
 'L1_30_44_share',
 'L2_30_44_share',
 'diff1_30_44_share',
 'diff2_30_44_share',
 'L1_M45_59_share',
 'L2_M45_59_share',
 'diff1_M45_59_share',
 'diff2_M45_59_share',
 'L1_F45_59_share',
 'L2_F45_59_share',
 'diff1_F45_59_share',
 'diff2_F45_59_share',
 'L1_45_59_share',
 'L2_45_59_share',
 'diff1_45_59_share',
 'diff2_45_59_share',
 'L1_M60_74_share',
 'L2_M60_74_share',
 'diff1_M60_74_share',
 'diff2_M60_74_share',
 'L1_F60_74_share',
 'L2_F60_74_share',
 'diff1_F60_74_share',
 'diff2_F60_74_share',
 'L1_60_74_share',
 'L2_60_74_share',
 'diff1_60_74_share',
 'diff2_60_74_share',
 'L1_M75_above_share',
 'L2_M75_above_share',
 'diff1_M75_above_share',
 'diff2_M75_above_share',
 'L1_F75_above_share',
 'L2_F75_above_share',
 'diff1_F75_above_share',
 'diff2_F75_above_share',
 'L1_75_above_share',
 'L2_75_above_share',
 'diff1_75_above_share',
 'diff2_75_above_share',
 'L1_white_share',
 'L2_white_share',
 'diff1_white_share',
 'diff2_white_share',
 'L1_black_share',
 'L2_black_share',
 'diff1_black_share',
 'diff2_black_share',
 'L1_asian_share',
 'L2_asian_share',
 'diff1_asian_share',
 'diff2_asian_share',
 'L1_hispanic_share',
 'L2_hispanic_share',
 'diff1_hispanic_share',
 'diff2_hispanic_share',
 'L1_otherrace_share',
 'L2_otherrace_share',
 'diff1_otherrace_share',
 'diff2_otherrace_share',
 'L1_native_share',
 'L2_native_share',
 'diff1_native_share',
 'diff2_native_share',
 'L1_nativeinstate_share',
 'L2_nativeinstate_share',
 'diff1_nativeinstate_share',
 'diff2_nativeinstate_share',
 'L1_nativeoutofstate_share',
 'L2_nativeoutofstate_share',
 'diff1_nativeoutofstate_share',
 'diff2_nativeoutofstate_share',
 'L1_foreignborn_share',
 'L2_foreignborn_share',
 'diff1_foreignborn_share',
 'diff2_foreignborn_share',
 'L1_HS_below_share',
 'L2_HS_below_share',
 'diff1_HS_below_share',
 'diff2_HS_below_share',
 'L1_HS_share',
 'L2_HS_share',
 'diff1_HS_share',
 'diff2_HS_share',
 'L1_somecollege_share',
 'L2_somecollege_share',
 'diff1_somecollege_share',
 'diff2_somecollege_share',
 'L1_college_share',
 'L2_college_share',
 'diff1_college_share',
 'diff2_college_share',
 'L1_graddeg_share',
 'L2_graddeg_share',
 'diff1_graddeg_share',
 'diff2_graddeg_share',
 'L1_samehouse_share',
 'L2_samehouse_share',
 'diff1_samehouse_share',
 'diff2_samehouse_share',
 'L1_samecounty_share',
 'L2_samecounty_share',
 'diff1_samecounty_share',
 'diff2_samecounty_share',
 'L1_samestate_share',
 'L2_samestate_share',
 'diff1_samestate_share',
 'diff2_samestate_share',
 'L1_diffstate_share',
 'L2_diffstate_share',
 'diff1_diffstate_share',
 'diff2_diffstate_share',
 'L1_liveabroad_share',
 'L2_liveabroad_share',
 'diff1_liveabroad_share',
 'diff2_liveabroad_share',
 'L1_ptransport_share',
 'L2_ptransport_share',
 'diff1_ptransport_share',
 'diff2_ptransport_share',
 'L1_walktowork_share',
 'L2_walktowork_share',
 'diff1_walktowork_share',
 'diff2_walktowork_share',
 'L1_workathome_share',
 'L2_workathome_share',
 'diff1_workathome_share',
 'diff2_workathome_share',
 'L1_inschool_share',
 'L2_inschool_share',
 'diff1_inschool_share',
 'diff2_inschool_share',
 'L1_incollege_share',
 'L2_incollege_share',
 'diff1_incollege_share',
 'diff2_incollege_share',
 'L1_ingradschool_share',
 'L2_ingradschool_share',
 'diff1_ingradschool_share',
 'diff2_ingradschool_share',
 'L1_M_college_share',
 'L2_M_college_share',
 'diff1_M_college_share',
 'diff2_M_college_share',
 'L1_M_graddeg_share',
 'L2_M_graddeg_share',
 'diff1_M_graddeg_share',
 'diff2_M_graddeg_share',
 'L1_M_phd_share',
 'L2_M_phd_share',
 'diff1_M_phd_share',
 'diff2_M_phd_share',
 'L1_F_college_share',
 'L2_F_college_share',
 'diff1_F_college_share',
 'diff2_F_college_share',
 'L1_F_graddeg_share',
 'L2_F_graddeg_share',
 'diff1_F_graddeg_share',
 'diff2_F_graddeg_share',
 'L1_F_phd_share',
 'L2_F_phd_share',
 'diff1_F_phd_share',
 'diff2_F_phd_share',
 'L1_poverty_share',
 'L2_poverty_share',
 'diff1_poverty_share',
 'diff2_poverty_share',
 'L1_hhinc_10k_less_share',
 'L2_hhinc_10k_less_share',
 'diff1_hhinc_10k_less_share',
 'diff2_hhinc_10k_less_share',
 'L1_hhinc_30k_less_share',
 'L2_hhinc_30k_less_share',
 'diff1_hhinc_30k_less_share',
 'diff2_hhinc_30k_less_share',
 'L1_hhinc_50k_less_share',
 'L2_hhinc_50k_less_share',
 'diff1_hhinc_50k_less_share',
 'diff2_hhinc_50k_less_share',
 'L1_hhinc_75k_more_share',
 'L2_hhinc_75k_more_share',
 'diff1_hhinc_75k_more_share',
 'diff2_hhinc_75k_more_share',
 'L1_hhinc_100k_more_share',
 'L2_hhinc_100k_more_share',
 'diff1_hhinc_100k_more_share',
 'diff2_hhinc_100k_more_share',
 'L1_hhinc_125k_more_share',
 'L2_hhinc_125k_more_share',
 'diff1_hhinc_125k_more_share',
 'diff2_hhinc_125k_more_share',
 'L1_hhinc_150k_more_share',
 'L2_hhinc_150k_more_share',
 'diff1_hhinc_150k_more_share',
 'diff2_hhinc_150k_more_share',
 'L1_hhinc_200k_more_share',
 'L2_hhinc_200k_more_share',
 'diff1_hhinc_200k_more_share',
 'diff2_hhinc_200k_more_share',
 'L1_veteran',
 'L2_veteran',
 'diff1_veteran',
 'diff2_veteran',
 'L1_LFPR',
 'L2_LFPR',
 'diff1_LFPR',
 'diff2_LFPR',
 'L1_Unemp_rate',
 'L2_Unemp_rate',
 'diff1_Unemp_rate',
 'diff2_Unemp_rate',
 'L1_armedforce_share',
 'L2_armedforce_share',
 'diff1_armedforce_share',
 'diff2_armedforce_share',
 'L1_naturalresourcesemp_share',
 'L2_naturalresourcesemp_share',
 'diff1_naturalresourcesemp_share',
 'diff2_naturalresourcesemp_share',
 'L1_bluecollaremp_share',
 'L2_bluecollaremp_share',
 'diff1_bluecollaremp_share',
 'diff2_bluecollaremp_share',
 'L1_vacanthousing_share',
 'L2_vacanthousing_share',
 'diff1_vacanthousing_share',
 'diff2_vacanthousing_share',
 'L1_renter_share',
 'L2_renter_share',
 'diff1_renter_share',
 'diff2_renter_share',
 'L1_mortgage_share',
 'L2_mortgage_share',
 'diff1_mortgage_share',
 'diff2_mortgage_share',
 'L1_housevalue_10k_less_share',
 'L2_housevalue_10k_less_share',
 'diff1_housevalue_10k_less_share',
 'diff2_housevalue_10k_less_share',
 'L1_housevalue_50k_less_share',
 'L2_housevalue_50k_less_share',
 'diff1_housevalue_50k_less_share',
 'diff2_housevalue_50k_less_share',
 'L1_housevalue_100k_less_share',
 'L2_housevalue_100k_less_share',
 'diff1_housevalue_100k_less_share',
 'diff2_housevalue_100k_less_share',
 'L1_housevalue_300k_more_share',
 'L2_housevalue_300k_more_share',
 'diff1_housevalue_300k_more_share',
 'diff2_housevalue_300k_more_share',
 'L1_housevalue_500k_more_share',
 'L2_housevalue_500k_more_share',
 'diff1_housevalue_500k_more_share',
 'diff2_housevalue_500k_more_share',
 'L1_housevalue_750k_more_share',
 'L2_housevalue_750k_more_share',
 'diff1_housevalue_750k_more_share',
 'diff2_housevalue_750k_more_share',
 'L1_housevalue_1m_more_share',
 'L2_housevalue_1m_more_share',
 'diff1_housevalue_1m_more_share',
 'diff2_housevalue_1m_more_share',
 'L1_Median household income',
 'L2_Median household income',
 'diff1_Median household income',
 'diff2_Median household income',
 'L1_Income Lowest Quintile',
 'L2_Income Lowest Quintile',
 'diff1_Income Lowest Quintile',
 'diff2_Income Lowest Quintile',
 'L1_Income Second Quintile',
 'L2_Income Second Quintile',
 'diff1_Income Second Quintile',
 'diff2_Income Second Quintile',
 'L1_Income Third Quintile',
 'L2_Income Third Quintile',
 'diff1_Income Third Quintile',
 'diff2_Income Third Quintile',
 'L1_Income Fourth Quintile',
 'L2_Income Fourth Quintile',
 'diff1_Income Fourth Quintile',
 'diff2_Income Fourth Quintile',
 'L1_Income Highest Quintile',
 'L2_Income Highest Quintile',
 'diff1_Income Highest Quintile',
 'diff2_Income Highest Quintile',
 'L1_Income Top 5 Percent',
 'L2_Income Top 5 Percent',
 'diff1_Income Top 5 Percent',
 'diff2_Income Top 5 Percent',
 'L1_Median gross rent',
 'L2_Median gross rent',
 'diff1_Median gross rent',
 'diff2_Median gross rent',
 'L1_Median monthly owner costs',
 'L2_Median monthly owner costs',
 'diff1_Median monthly owner costs',
 'diff2_Median monthly owner costs'
]]

In [16]:
acs_cleaned.columns = acs_cleaned.columns.str.replace(' ', '_').str.lower()

In [17]:
acs_cleaned.shape

(3488, 614)

Split `acs_cleaned` by year (for the 9 variables that need to be standardized by year)

In [81]:
numeric_columns = acs_cleaned[[
 'year',
#  'yr_district_id',
 'median_household_income',
 'income_lowest_quintile',
 'income_second_quintile',
 'income_third_quintile',
 'income_fourth_quintile',
 'income_highest_quintile',
 'income_top_5_percent',
 'median_gross_rent',
 'median_monthly_owner_costs']]

In [82]:
print(numeric_columns.shape)
numeric_columns.head()

(3488, 10)

,year,median_household_income,income_lowest_quintile,income_second_quintile,income_third_quintile,income_fourth_quintile,income_highest_quintile,income_top_5_percent,median_gross_rent,median_monthly_owner_costs
0,2010,64576,16104,39894,64881,98871,186701,297729,981,1363
1,2011,67825,17365,42895,68144,98234,186685,302731,1049,1346
2,2012,67712,16888,41522,67807,101587,195887,310700,1120,1364
3,2013,72237,18887,46024,72626,106954,199299,319926,1117,1311
4,2014,71583,17950,44826,71820,107757,203119,326258,1183,1366

Look through years, building a dataframe of scaled data (retain indices to join with `acs_cleaned`)

In [118]:
scaled_data = pd.DataFrame()
data = numeric_columns.copy()

for yr in range(2010, 2018):  # CHANGE RANGE
    print(yr)
    subset = data[data.year == yr]
    subset = subset.drop('year', axis=1)
    indices = subset.index
    
    scaler = StandardScaler()
    subset_scaled = pd.DataFrame(scaler.fit_transform(subset),
                                               columns=subset.columns + '_scaled')
    subset_scaled.index = indices
    scaled_data = pd.concat([scaled_data, subset_scaled], sort=False)

2010
2011
2012
2013
2014
2015
2016
2017

In [119]:
scaled_data.shape

(3488, 9)

In [120]:
scaled_data.head()

,median_household_income_scaled,income_lowest_quintile_scaled,income_second_quintile_scaled,income_third_quintile_scaled,income_fourth_quintile_scaled,income_highest_quintile_scaled,income_top_5_percent_scaled,median_gross_rent_scaled,median_monthly_owner_costs_scaled
0,0.982807,1.088494,1.037140,0.989846,0.966714,0.431134,0.169088,0.474385,0.244528
8,-0.761755,-1.078711,-0.859282,-0.760964,-0.796561,-0.478695,-0.376052,-0.702320,-0.862029
16,-0.806852,-0.808878,-0.882191,-0.816896,-0.799948,-0.808006,-0.810622,-0.918627,-1.088277
24,-1.188130,-1.272276,-1.275011,-1.182939,-1.044773,-0.876696,-0.887834,-1.000823,-1.088277
32,-1.093985,-0.795661,-1.033714,-1.123070,-1.195248,-0.951732,-0.782120,-1.290673,-1.328922

Merge `scaled_data` with `acs_cleaned`

In [123]:
print(acs_cleaned.shape)
acs_cleaned.head()

(3488, 614)

,district_id,year,yr_district_id,total_male,male_5_to_9_years,male_10_to_14_years,male_15_to_17_years,male_18_and_19_years,male_20_years,male_21_years,...,diff1_income_top_5_percent,diff2_income_top_5_percent,l1_median_gross_rent,l2_median_gross_rent,diff1_median_gross_rent,diff2_median_gross_rent,l1_median_monthly_owner_costs,l2_median_monthly_owner_costs,diff1_median_monthly_owner_costs,diff2_median_monthly_owner_costs
0,AK-00,2010,2010-AK-00,372436,26347,28085,16477,10063,6832,7412,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AK-00,2011,2011-AK-00,372916,26470,26684,15011,10360,7715,7243,...,5002.0,NaN,981.0,NaN,68.0,NaN,1363.0,NaN,-17.0,NaN
2,AK-00,2012,2012-AK-00,381094,27033,26425,15899,12008,5837,7258,...,7969.0,12971.0,1049.0,981.0,71.0,139.0,1346.0,1363.0,18.0,1.0
3,AK-00,2013,2013-AK-00,386404,26989,27265,15762,13616,7275,5951,...,9226.0,17195.0,1120.0,1049.0,-3.0,68.0,1364.0,1346.0,-53.0,-35.0
4,AK-00,2014,2014-AK-00,385582,27517,25859,14719,11840,6167,8413,...,6332.0,15558.0,1117.0,1120.0,66.0,63.0,1311.0,1364.0,55.0,2.0

In [125]:
acs_cleaned_w_scaled_cols = pd.merge(acs_cleaned, 
                                     scaled_data,
                                     how='left', 
                                     left_index=True, 
                                     right_index=True)
acs_cleaned_w_scaled_cols.shape

(3488, 623)

In [128]:
acs_cleaned_w_scaled_cols.head()

,district_id,year,yr_district_id,total_male,male_5_to_9_years,male_10_to_14_years,male_15_to_17_years,male_18_and_19_years,male_20_years,male_21_years,...,diff2_median_monthly_owner_costs,median_household_income_scaled,income_lowest_quintile_scaled,income_second_quintile_scaled,income_third_quintile_scaled,income_fourth_quintile_scaled,income_highest_quintile_scaled,income_top_5_percent_scaled,median_gross_rent_scaled,median_monthly_owner_costs_scaled
0,AK-00,2010,2010-AK-00,372436,26347,28085,16477,10063,6832,7412,...,NaN,0.982807,1.088494,1.037140,0.989846,0.966714,0.431134,0.169088,0.474385,0.244528
1,AK-00,2011,2011-AK-00,372916,26470,26684,15011,10360,7715,7243,...,NaN,1.156418,1.498107,1.359730,1.159262,0.819675,0.304948,0.105446,0.676923,0.243687
2,AK-00,2012,2012-AK-00,381094,27033,26425,15899,12008,5837,7258,...,1.0,1.009395,1.233930,1.062892,1.000890,0.870943,0.407658,0.111978,0.876998,0.356498
3,AK-00,2013,2013-AK-00,386404,26989,27265,15762,13616,7275,5951,...,-35.0,1.215528,1.727214,1.477517,1.228937,0.989080,0.298437,0.019899,0.735283,0.342280
4,AK-00,2014,2014-AK-00,385582,27517,25859,14719,11840,6167,8413,...,2.0,1.031384,1.322739,1.190804,1.032255,0.892237,0.285165,0.023688,0.829523,0.435842

#### Read in election history data, merge with `acs_cleaned_w_scaled_cols`

In [135]:
election_data = pd.read_csv('../../data/02_intermediate/HouseVotesFeatures_12_18.csv')
print(election_data.shape)
election_data.head()

(1740, 72)

,Unnamed: 0,Unnamed: 0.1,yr_district_id,winner_votes,totalvotes,year,state,winner,winner_party,writein,...,rep_L3_voteshare,rep_L2_voteshare,rep_L1_voteshare,dem_L10_voteshare,dem_L5_voteshare,dem_L4_voteshare,dem_L3_voteshare,dem_L2_voteshare,dem_L1_voteshare,target
0,18,7813,2012-AK-00,185296,289804,2012,Alaska,DonYoung,republican,False,...,0.627413,0.690409,0.689579,0.337937,0.342113,0.362218,0.347010,0.295641,0.305133,0
1,19,8248,2014-AK-00,142572,279741,2014,Alaska,DonYoung,republican,False,...,0.655527,0.638501,0.691240,0.335949,0.371708,0.362675,0.333651,0.347910,0.286149,0
2,20,8683,2016-AK-00,155088,308198,2016,Alaska,DonYoung,republican,False,...,0.627765,0.596028,0.585763,0.333620,0.362184,0.340293,0.352013,0.384946,0.409672,0
3,21,9118,2018-AK-00,149779,282166,2018,Alaska,DonYoung,republican,False,...,0.574291,0.568555,0.606292,0.342878,0.365229,0.380253,0.411621,0.412595,0.360220,0
4,40,7814,2012-AL-01,196374,200676,2012,Alabama,JoBonner,republican,False,...,0.929036,0.902201,0.825839,0.172897,0.137269,0.079549,0.000000,0.000000,0.000000,0

In [136]:
election_data.drop(['Unnamed: 0', 'Unnamed: 0.1'], axis=1, inplace=True)
election_data.shape

(1740, 70)

In [138]:
acs_cleaned_w_scaled_cols.shape

(3488, 623)

In [145]:
acs_election_merged = pd.merge(election_data,
                                 acs_cleaned_w_scaled_cols,
                                 how='left',
                                 on='yr_district_id'
                                )
acs_election_merged.shape

(1740, 692)

In [149]:
acs_election_merged.head()

,yr_district_id,winner_votes,totalvotes,year_x,state,winner,winner_party,writein,district_id_x,winner_voteshare,...,diff2_median_monthly_owner_costs,median_household_income_scaled,income_lowest_quintile_scaled,income_second_quintile_scaled,income_third_quintile_scaled,income_fourth_quintile_scaled,income_highest_quintile_scaled,income_top_5_percent_scaled,median_gross_rent_scaled,median_monthly_owner_costs_scaled
0,2012-AK-00,185296,289804,2012,Alaska,DonYoung,republican,False,AK-00,0.639384,...,1.0,1.009395,1.233930,1.062892,1.000890,0.870943,0.407658,0.111978,0.876998,0.356498
1,2014-AK-00,142572,279741,2014,Alaska,DonYoung,republican,False,AK-00,0.509657,...,2.0,1.031384,1.322739,1.190804,1.032255,0.892237,0.285165,0.023688,0.829523,0.435842
2,2016-AK-00,155088,308198,2016,Alaska,DonYoung,republican,False,AK-00,0.503209,...,-6.0,0.999655,1.391121,1.264442,0.982565,0.760722,0.124363,-0.198030,0.640565,0.353170
3,2018-AK-00,149779,282166,2018,Alaska,DonYoung,republican,False,AK-00,0.530819,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2012-AL-01,196374,200676,2012,Alabama,JoBonner,republican,False,AL-01,0.978562,...,-47.0,-0.833409,-1.075405,-0.916316,-0.818347,-0.767830,-0.732664,-0.718340,-0.613210,-0.900646

Save to `.csv`

In [148]:
acs_election_merged.to_csv('../../data/02_intermediate/ACS_HouseVotes_merged.csv', index=False)

## Next Steps

- Drop redundant columns (district_id_x, year_x, etc.)
- Drop duplicative ACS/house vote columns
- Save final processed .csv to `data/03_processed/`