## Cleaning

In [179]:
import pandas as pd
import numpy as np
import math
import re
from datetime import datetime
import time
from sklearn.preprocessing import StandardScaler

In [142]:
df = pd.read_csv('ACS_ALL.csv')

In [143]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3488 entries, 0 to 3487
Columns: 166 entries, district_id to B25088_001E
dtypes: float64(38), int64(127), object(1)
memory usage: 4.4+ MB

In [144]:
df['year'] = df.year.apply(str)

In [145]:
df['yr_district_id'] = df[['year', 'district_id']].apply(lambda x: '-'.join(x), axis=1)

In [146]:
df.head()

,district_id,year,B01001_002E,B01001_004E,B01001_005E,B01001_006E,B01001_007E,B01001_008E,B01001_009E,B01001_010E,...,B25075_018E,B25075_019E,B25075_020E,B25075_021E,B25075_022E,B25075_023E,B25075_024E,B25075_025E,B25088_001E,yr_district_id
0,AK-00,2010,372436,26347,28085,16477,10063,6832,7412,15550,...,10943.0,27241.0,25364.0,30311.0,9459.0,8787.0,1836.0,970.0,1363,2010-AK-00
1,AK-00,2011,372916,26470,26684,15011,10360,7715,7243,17620,...,14029.0,27925.0,23430.0,28049.0,12192.0,8551.0,1420.0,966.0,1346,2011-AK-00
2,AK-00,2012,381094,27033,26425,15899,12008,5837,7258,19766,...,10838.0,27973.0,25024.0,31297.0,11377.0,6572.0,1798.0,917.0,1364,2012-AK-00
3,AK-00,2013,386404,26989,27265,15762,13616,7275,5951,20382,...,12861.0,24044.0,26292.0,29842.0,13123.0,7870.0,2174.0,880.0,1311,2013-AK-00
4,AK-00,2014,385582,27517,25859,14719,11840,6167,8413,22074,...,12382.0,22440.0,25470.0,31961.0,11803.0,8304.0,1870.0,868.0,1366,2014-AK-00

In [147]:
df.columns = ['district_id',
'year',
'Total Male',
'Male 5 to 9 years',
'Male 10 to 14 years',
'Male 15 to 17 years',
'Male 18 and 19 years',
'Male 20 years',
'Male 21 years',
'Male 22 to 24 years',
'Male 25 to 29 years',
'Male 30 to 34 years',
'Male 35 to 39 years',
'Male 40 to 44 years',
'Male 45 to 49 years',
'Male 50 to 54 years',
'Male 55 to 59 years',
'Male 60 and 61 years',
'Male 62 to 64 years',
'Male 65 and 66 years',
'Male 67 to 69 years',
'Male 70 to 74 years',
'Male 75 to 79 years',
'Male 80 to 84 years',
'Male 85 years and over',
'Total Female',
'Female 5 to 9 years',
'Female 10 to 14 years',
'Female 15 to 17 years',
'Female 18 and 19 years',
'Female 20 years',
'Female 21 years',
'Female 22 to 24 years',
'Female 25 to 29 years',
'Female 30 to 34 years',
'Female 35 to 39 years',
'Female 40 to 44 years',
'Female 45 to 49 years',
'Female 50 to 54 years',
'Female 55 to 59 years',
'Female 60 and 61 years',
'Female 62 to 64 years',
'Female 65 and 66 years',
'Female 67 to 69 years',
'Female 70 to 74 years',
'Female 75 to 79 years',
'Female 80 to 84 years',
'Female 85 years and over',
'TOTAL POPULATION',
'White alone',
'Black or African American alone',
'American Indian and Alaska Native',
'Asian alone',
'Native Hawaiian and Other Pacific',
'Some other race alone',
'Two or more races',
'Not Hispanic or Latino',
'Hispanic or Latino',
'Native',
'Native Born in state of residence',
'Native Born in other state',
'Native Born outside the US',
'Foreign born',
'population 25 and over',
'Less than high school graduate',
'High school graduate',
'Some college or associate degree',
'Bachelors degree',
'Graduate or professional degree',
'Same house 1 year ago',
'Moved within same county',
'Moved from different county',
'Moved from different state',
'Moved from abroad',
'Workers 16 and over',
'Public transportation',
'Walked',
'Worked at home',
'Enrolled in school',
'Enrolled in college',
'Enrolled in school Graduate professional',
'Population 25 and over',
'Male Bachelors',
'Male Master',
'Male Professional school',
'Male Doctorate',
'Female Bachelor',
'Female Master',
'Female Professional school',
'Female Doctorate',
'Income below poverty',
'Total Household Income',
'Income Less than 10000',
'Income 10000 to 14999',
'Income 15000 to 19999',
'Income 20000 to 24999',
'Income 25000 to 29999',
'Income 30000 to 34999',
'Income 35000 to 39999',
'Income 40000 to 44999',
'Income 45000 to 49999',
'Income 50000 to 59999',
'Income 60000 to 74999',
'Income 75000 to 99999',
'Income 100000 to 124999',
'Income 125000 to 149999',
'Income 150000 to 199999',
'Income 200000 or more',
'Median household income',
'Income Lowest Quintile',
'Income Second Quintile',
'Income Third Quintile',
'Income Fourth Quintile',
'Income Highest Quintile',
'Income Top 5 Percent',
'Veteran',
'Nonveteran',
'Population 16 and over',
'In labor force',
'Civilian in labor force',
'Civilian Employed',
'Civilian Unemployed',
'In Armed Forces',
'Total not in labor force',
'Fulltime civilian employed 16 and over',
'Male natural resources',
'Male production transportation and material moving',
'Female natural resources',
'Female production transportation and material moving',
'TOTAL HOUSING UNITS',
'Occupied',
'Vacant',
'Occupied Housing units',
'Owner occupied',
'Renter occupied',
'Owner occupied housing units',
'Housing units with a mortgage',
'Housing units without a mortgage',
'renter occupied housing units',
'Median gross rent',
'Total owner occupied housing units',
'Housing Value Below 10000',
'Housing Value 10000 to 14999',
'Housing Value 15000 to 19999',
'Housing Value 20000 to 24999',
'Housing Value 25000 to 29999',
'Housing Value 30000 to 34999',
'Housing Value 35000 to 39999',
'Housing Value 40000 to 49999',
'Housing Value 50000 to 59999',
'Housing Value 60000 to 69999',
'Housing Value 70000 to 79999',
'Housing Value 80000 to 89999',
'Housing Value 90000 to 99999',
'Housing Value 100000 to 124999',
'Housing Value 125000 to 149999',
'Housing Value 150000 to 174999',
'Housing Value 175000 to 199999',
'Housing Value 200000 to 249999',
'Housing Value 250000 to 299999',
'Housing Value 300000 to 399999',
'Housing Value 400000 to 499999',
'Housing Value 500000 to 749999',
'Housing Value 750000 to 999999',
'Housing Value 1000000 to 1499999',
'Median monthly owner costs',
'yr_district_id']

In [148]:
df.head()

,district_id,year,Total Male,Male 5 to 9 years,Male 10 to 14 years,Male 15 to 17 years,Male 18 and 19 years,Male 20 years,Male 21 years,Male 22 to 24 years,...,Housing Value 175000 to 199999,Housing Value 200000 to 249999,Housing Value 250000 to 299999,Housing Value 300000 to 399999,Housing Value 400000 to 499999,Housing Value 500000 to 749999,Housing Value 750000 to 999999,Housing Value 1000000 to 1499999,Median monthly owner costs,yr_district_id
0,AK-00,2010,372436,26347,28085,16477,10063,6832,7412,15550,...,10943.0,27241.0,25364.0,30311.0,9459.0,8787.0,1836.0,970.0,1363,2010-AK-00
1,AK-00,2011,372916,26470,26684,15011,10360,7715,7243,17620,...,14029.0,27925.0,23430.0,28049.0,12192.0,8551.0,1420.0,966.0,1346,2011-AK-00
2,AK-00,2012,381094,27033,26425,15899,12008,5837,7258,19766,...,10838.0,27973.0,25024.0,31297.0,11377.0,6572.0,1798.0,917.0,1364,2012-AK-00
3,AK-00,2013,386404,26989,27265,15762,13616,7275,5951,20382,...,12861.0,24044.0,26292.0,29842.0,13123.0,7870.0,2174.0,880.0,1311,2013-AK-00
4,AK-00,2014,385582,27517,25859,14719,11840,6167,8413,22074,...,12382.0,22440.0,25470.0,31961.0,11803.0,8304.0,1870.0,868.0,1366,2014-AK-00

## Feature Engineering

In [149]:
df.sort_values(['district_id', 'year'], inplace=True)

In [150]:
df['M75_above'] = df['Male 75 to 79 years'] + \
    df['Male 80 to 84 years'] + df['Male 85 years and over']
df['F75_above'] = df['Female 75 to 79 years'] + \
    df['Female 80 to 84 years'] + df['Female 85 years and over']

df['M60_74'] = df['Male 70 to 74 years'] + df['Male 67 to 69 years'] + \
    df['Male 65 and 66 years'] + \
    df['Male 60 and 61 years'] + df['Male 62 to 64 years']
df['F60_74'] = df['Female 70 to 74 years'] + df['Female 67 to 69 years'] + \
    df['Female 65 and 66 years'] + \
    df['Female 60 and 61 years'] + df['Female 62 to 64 years']

df['M45_59'] = df['Male 45 to 49 years'] + \
    df['Male 50 to 54 years'] + df['Male 55 to 59 years']
df['F45_59'] = df['Female 45 to 49 years'] + \
    df['Female 50 to 54 years'] + df['Female 55 to 59 years']

df['M30_44'] = df['Male 30 to 34 years'] + \
    df['Male 35 to 39 years'] + df['Male 40 to 44 years']
df['F30_44'] = df['Female 30 to 34 years'] + \
    df['Female 35 to 39 years'] + df['Female 40 to 44 years']

df['M18_29'] = df['Male 18 and 19 years'] + df['Male 20 years'] + df['Male 21 years'] + df['Male 22 to 24 years'] + \
    df['Male 25 to 29 years']
df['F18_29'] = df['Female 18 and 19 years'] + df['Female 20 years'] + df['Female 21 years'] + df['Female 22 to 24 years'] + \
    df['Female 25 to 29 years']

df['M18_below'] = df['Total Male'] - df['M18_29'] - \
    df['M30_44'] - df['M45_59'] - df['M60_74'] - df['M75_above']
df['F18_below'] = df['Total Female'] - df['F18_29'] - \
    df['F30_44'] - df['F45_59'] - df['F60_74'] - df['F75_above']

df['M18_above'] = df['Total Male'] - df['M18_below']
df['F18_above'] = df['Total Female'] - df['F18_below']

df['M25_above'] = df['Total Male'] - df['M18_below'] - \
    (df['Male 18 and 19 years'] + df['Male 20 years'] +
     df['Male 21 years'] + df['Male 22 to 24 years'])

df['F25_above'] = df['Total Female'] - df['F18_below'] - \
    (df['Female 18 and 19 years'] + df['Female 20 years'] +
     df['Female 21 years'] + df['Female 22 to 24 years'])

In [151]:
df['Mpop_share'] = df['Total Male']/df['TOTAL POPULATION']
df['Fpop_share'] = df['Total Female']/df['TOTAL POPULATION']

In [152]:
df['M18_below_share'] = df['M18_below'] / df['Total Male']
df['F18_below_share'] = df['F18_below'] / df['Total Female']
df['18_below_share'] = (df['M18_below'] + df['F18_below'])/df['TOTAL POPULATION']

df['M18_above_share'] = df['M18_above'] / df['Total Male']
df['F18_above_share'] = df['F18_above'] / df['Total Female']
df['18_above_share'] = (df['M18_above'] + df['F18_above'])/df['TOTAL POPULATION']

df['M18_29_share'] = df['M18_29'] / df['Total Male']
df['F18_29_share'] = df['F18_29'] / df['Total Female']
df['18_29_share'] = (df['M18_29'] + df['F18_29'])/df['TOTAL POPULATION']

df['M30_44_share'] = df['M30_44'] / df['Total Male']
df['F30_44_share'] = df['F30_44'] / df['Total Female']
df['30_44_share'] = (df['M30_44'] + df['F30_44'])/df['TOTAL POPULATION']

df['M45_59_share'] = df['M45_59'] / df['Total Male']
df['F45_59_share'] = df['F45_59'] / df['Total Female']
df['45_59_share'] = (df['M45_59'] + df['F45_59'])/df['TOTAL POPULATION']

df['M60_74_share'] = df['M60_74'] / df['Total Male']
df['F60_74_share'] = df['F60_74'] / df['Total Female']
df['60_74_share'] = (df['M60_74'] + df['F60_74'])/df['TOTAL POPULATION']

df['M75_above_share'] = df['M75_above'] / df['Total Male']
df['F75_above_share'] = df['F75_above'] / df['Total Female']
df['75_above_share'] = (df['M75_above'] + df['F75_above_share'])/df['TOTAL POPULATION']

In [153]:
df['white_share'] = df['White alone'] / df['TOTAL POPULATION']
df['black_share'] = df['Black or African American alone'] / df['TOTAL POPULATION']
df['asian_share'] = df['Asian alone'] / df['TOTAL POPULATION']
df['hispanic_share'] = df['Hispanic or Latino'] / df['TOTAL POPULATION']
df['otherrace_share'] = (df['TOTAL POPULATION']-df['White alone']-df['Black or African American alone']-df['Asian alone']) / df['TOTAL POPULATION']
df['native_share'] = df['Native'] / df['TOTAL POPULATION']
df['nativeinstate_share'] = df['Native Born in state of residence'] / df['TOTAL POPULATION']
df['nativeoutofstate_share'] = df['Native Born in other state'] / df['TOTAL POPULATION']
df['foreignborn_share'] = df['Foreign born'] / df['TOTAL POPULATION']

In [154]:
df['HS_below_share'] = df['Less than high school graduate'] / df['population 25 and over']
df['HS_share'] = df['High school graduate'] / df['population 25 and over']
df['somecollege_share'] = df['Some college or associate degree'] / df['population 25 and over']
df['college_share'] = df['Bachelors degree'] / df['population 25 and over']
df['graddeg_share'] = df['Graduate or professional degree'] / df['population 25 and over']

df['samehouse_share'] = df['Same house 1 year ago'] / df['TOTAL POPULATION']
df['samecounty_share'] = df['Moved within same county'] / df['TOTAL POPULATION']
df['samestate_share'] = df['Moved from different county'] / df['TOTAL POPULATION']
df['diffstate_share'] = df['Moved from different state'] / df['TOTAL POPULATION']
df['liveabroad_share'] = df['Moved from abroad'] / df['TOTAL POPULATION']

In [155]:
df['ptransport_share'] = df['Public transportation']/df['Workers 16 and over']
df['walktowork_share'] = df['Walked']/df['Workers 16 and over']
df['workathome_share'] = df['Worked at home']/df['Workers 16 and over']

df['inschool_share'] = df['Enrolled in school']/df['TOTAL POPULATION']
df['incollege_share'] = df['Enrolled in college']/(df['M18_above'] + df['F18_above'])
df['ingradschool_share'] = df['Enrolled in school Graduate professional']/(df['M18_above'] + df['F18_above'])

In [156]:
df['M_college_share'] = df['Male Bachelors']/df['M25_above']
df['M_graddeg_share'] = (df['Male Master'] + df['Male Professional school'])/df['M25_above']
df['M_phd_share'] = df['Male Doctorate']/df['M25_above']

df['F_college_share'] = df['Female Bachelor']/df['F25_above']
df['F_graddeg_share'] = (df['Female Master'] + df['Female Professional school'])/df['F25_above']
df['F_phd_share'] = df['Female Doctorate']/df['F25_above']

In [157]:
df['poverty_share'] = df['Income below poverty'] / df['TOTAL POPULATION']
df['hhinc_10k_less_share'] = df['Income Less than 10000'] / df['Total Household Income']

In [158]:
df['hhinc_30k_less_share'] = (df['Income Less than 10000'] + df['Income 10000 to 14999']\
                              + df['Income 15000 to 19999'] +
                              df['Income 20000 to 24999'] + df['Income 25000 to 29999'])/\
df['Total Household Income']

In [159]:
df['hhinc_50k_less_share'] = (df['Income Less than 10000'] + df['Income 10000 to 14999']\
                              + df['Income 15000 to 19999'] +
                              df['Income 20000 to 24999'] + df['Income 25000 to 29999']\
                              + df['Income 30000 to 34999'] + df['Income 35000 to 39999']\
                              + df['Income 40000 to 44999'] +\
                              df['Income 45000 to 49999'])/ df['Total Household Income']

In [160]:
df['hhinc_75k_more_share'] = (df['Income 75000 to 99999'] + df['Income 100000 to 124999']\
                              + df['Income 125000 to 149999'] + df['Income 150000 to 199999']\
                              + df['Income 200000 or more'])/df['Total Household Income']

In [161]:
df['hhinc_100k_more_share'] = (df['Income 100000 to 124999']\
                              + df['Income 125000 to 149999'] + df['Income 150000 to 199999']\
                              + df['Income 200000 or more'])/df['Total Household Income']

In [162]:
df['hhinc_125k_more_share'] = (df['Income 125000 to 149999'] + df['Income 150000 to 199999']\
                              + df['Income 200000 or more'])/df['Total Household Income']

In [163]:
df['hhinc_150k_more_share'] = (df['Income 150000 to 199999']\
                              + df['Income 200000 or more'])/df['Total Household Income']

In [164]:
df['hhinc_200k_more_share'] = df['Income 200000 or more']/df['Total Household Income']

In [165]:
df['veteran_share'] = df['Veteran']/(df['M18_above'] + df['F18_above'])
df['LFP_share'] = df['In labor force']/df['Population 16 and over']
df['Unemp_rate'] = df['Civilian Unemployed']/df['Civilian in labor force']
df['armedforce_share'] = df['In Armed Forces']/df['In labor force']
df['naturalresourcesemp_share'] = (df['Male natural resources']+df['Female natural resources'])\
    / df['Fulltime civilian employed 16 and over']
df['bluecollaremp_share'] = (df['Male production transportation and material moving']
                             + df['Female production transportation and material moving'])\
    / df['Fulltime civilian employed 16 and over']

In [166]:
df['vacanthousing_share'] = df['Vacant']/ df['TOTAL HOUSING UNITS']
df['renter_share'] = df['Renter occupied']/df['Occupied Housing units']
df['mortgage_share'] = df['Housing units with a mortgage']/df['Owner occupied housing units']

df['housevalue_10k_less_share'] = df['Housing Value Below 10000']/df['Total owner occupied housing units']

df['housevalue_50k_less_share'] = (df['Housing Value Below 10000'] + df['Housing Value 10000 to 14999'] +\
df['Housing Value 15000 to 19999']+df['Housing Value 20000 to 24999']+df['Housing Value 25000 to 29999']\
+df['Housing Value 30000 to 34999']+df['Housing Value 35000 to 39999']+df['Housing Value 40000 to 49999'])\
/df['Total owner occupied housing units']

df['housevalue_100k_less_share'] = (df['Housing Value Below 10000'] + df['Housing Value 10000 to 14999'] +\
df['Housing Value 15000 to 19999']+df['Housing Value 20000 to 24999']+df['Housing Value 25000 to 29999']\
+df['Housing Value 30000 to 34999']+df['Housing Value 35000 to 39999']+df['Housing Value 40000 to 49999']\
+df['Housing Value 50000 to 59999'] + df['Housing Value 60000 to 69999'] +\
df['Housing Value 70000 to 79999']+df['Housing Value 80000 to 89999']+df['Housing Value 90000 to 99999'])\
/df['Total owner occupied housing units']

df['housevalue_300k_more_share'] = (df['Housing Value 300000 to 399999'] + df['Housing Value 400000 to 499999'] +\
df['Housing Value 500000 to 749999']+df['Housing Value 750000 to 999999']+df['Housing Value 1000000 to 1499999'])\
/df['Total owner occupied housing units']

df['housevalue_500k_more_share'] = (df['Housing Value 500000 to 749999']+df['Housing Value 750000 to 999999']\
                                    +df['Housing Value 1000000 to 1499999'])/df['Total owner occupied housing units']

df['housevalue_750k_more_share'] = (df['Housing Value 750000 to 999999']\
                                    +df['Housing Value 1000000 to 1499999'])/df['Total owner occupied housing units']
df['housevalue_1m_more_share'] = df['Housing Value 1000000 to 1499999']/df['Total owner occupied housing units']

In [167]:
df.iloc[:10,185:]

,M18_below_share,F18_below_share,18_below_share,M18_above_share,F18_above_share,18_above_share,M18_29_share,F18_29_share,18_29_share,M30_44_share,...,vacanthousing_share,renter_share,mortgage_share,housevalue_10k_less_share,housevalue_50k_less_share,housevalue_100k_less_share,housevalue_300k_more_share,housevalue_500k_more_share,housevalue_750k_more_share,housevalue_1m_more_share
0,0.263978,0.263710,0.263850,0.736022,0.736290,0.736150,0.187603,0.175647,0.181883,0.200373,...,0.170827,0.360650,0.692072,0.006260,0.059545,0.111018,0.315527,0.071217,0.017237,0.005959
1,0.256806,0.264310,0.260438,0.743194,0.735690,0.739562,0.195119,0.177863,0.186767,0.195846,...,0.173056,0.369246,0.651307,0.006943,0.057741,0.127341,0.315306,0.067383,0.014700,0.005952
2,0.254399,0.257781,0.256019,0.745601,0.742219,0.743981,0.194627,0.180100,0.187669,0.201612,...,0.181963,0.366476,0.651947,0.004504,0.060830,0.126421,0.325923,0.058252,0.017030,0.005752
3,0.252184,0.260722,0.256234,0.747816,0.739278,0.743766,0.207539,0.185305,0.196992,0.195681,...,0.199735,0.365457,0.634994,0.011197,0.053079,0.104902,0.345206,0.069978,0.019564,0.005637
4,0.246020,0.261734,0.253510,0.753980,0.738266,0.746490,0.212743,0.179242,0.196776,0.197579,...,0.190919,0.375124,0.661378,0.020147,0.079337,0.127482,0.351307,0.070779,0.017551,0.005564
5,0.247227,0.258180,0.252415,0.752773,0.741820,0.747585,0.211348,0.180750,0.196856,0.200219,...,0.191525,0.360785,0.650924,0.007072,0.069834,0.122141,0.370237,0.075493,0.018278,0.002776
6,0.254178,0.250543,0.252457,0.745822,0.749457,0.747543,0.196798,0.178822,0.188286,0.196767,...,0.200224,0.355189,0.630503,0.008270,0.065512,0.121555,0.408751,0.093006,0.018419,0.003420
7,0.243823,0.257387,0.250314,0.756177,0.742613,0.749686,0.194193,0.171869,0.183510,0.207198,...,0.208939,0.364508,0.641988,0.010637,0.071211,0.115034,0.423587,0.089730,0.019273,0.005636
8,0.263482,0.227588,0.245182,0.736518,0.772412,0.754818,0.154038,0.150876,0.152426,0.190084,...,0.216749,0.303463,0.604784,0.024522,0.148070,0.359432,0.114193,0.038335,0.013113,0.007945
9,0.249111,0.234547,0.241558,0.750889,0.765453,0.758442,0.162001,0.150105,0.155832,0.183794,...,0.187095,0.301106,0.598179,0.018290,0.134110,0.373422,0.097019,0.035566,0.016089,0.008557

In [168]:
list(df.columns)

['district_id',
 'year',
 'Total Male',
 'Male 5 to 9 years',
 'Male 10 to 14 years',
 'Male 15 to 17 years',
 'Male 18 and 19 years',
 'Male 20 years',
 'Male 21 years',
 'Male 22 to 24 years',
 'Male 25 to 29 years',
 'Male 30 to 34 years',
 'Male 35 to 39 years',
 'Male 40 to 44 years',
 'Male 45 to 49 years',
 'Male 50 to 54 years',
 'Male 55 to 59 years',
 'Male 60 and 61 years',
 'Male 62 to 64 years',
 'Male 65 and 66 years',
 'Male 67 to 69 years',
 'Male 70 to 74 years',
 'Male 75 to 79 years',
 'Male 80 to 84 years',
 'Male 85 years and over',
 'Total Female',
 'Female 5 to 9 years',
 'Female 10 to 14 years',
 'Female 15 to 17 years',
 'Female 18 and 19 years',
 'Female 20 years',
 'Female 21 years',
 'Female 22 to 24 years',
 'Female 25 to 29 years',
 'Female 30 to 34 years',
 'Female 35 to 39 years',
 'Female 40 to 44 years',
 'Female 45 to 49 years',
 'Female 50 to 54 years',
 'Female 55 to 59 years',
 'Female 60 and 61 years',
 'Female 62 to 64 years',
 'Female 65 and 66 years',
 'Female 67 to 69 years',
 'Female 70 to 74 years',
 'Female 75 to 79 years',
 'Female 80 to 84 years',
 'Female 85 years and over',
 'TOTAL POPULATION',
 'White alone',
 'Black or African American alone',
 'American Indian and Alaska Native',
 'Asian alone',
 'Native Hawaiian and Other Pacific',
 'Some other race alone',
 'Two or more races',
 'Not Hispanic or Latino',
 'Hispanic or Latino',
 'Native',
 'Native Born in state of residence',
 'Native Born in other state',
 'Native Born outside the US',
 'Foreign born',
 'population 25 and over',
 'Less than high school graduate',
 'High school graduate',
 'Some college or associate degree',
 'Bachelors degree',
 'Graduate or professional degree',
 'Same house 1 year ago',
 'Moved within same county',
 'Moved from different county',
 'Moved from different state',
 'Moved from abroad',
 'Workers 16 and over',
 'Public transportation',
 'Walked',
 'Worked at home',
 'Enrolled in school',
 'Enrolled in college',
 'Enrolled in school Graduate professional',
 'Population 25 and over',
 'Male Bachelors',
 'Male Master',
 'Male Professional school',
 'Male Doctorate',
 'Female Bachelor',
 'Female Master',
 'Female Professional school',
 'Female Doctorate',
 'Income below poverty',
 'Total Household Income',
 'Income Less than 10000',
 'Income 10000 to 14999',
 'Income 15000 to 19999',
 'Income 20000 to 24999',
 'Income 25000 to 29999',
 'Income 30000 to 34999',
 'Income 35000 to 39999',
 'Income 40000 to 44999',
 'Income 45000 to 49999',
 'Income 50000 to 59999',
 'Income 60000 to 74999',
 'Income 75000 to 99999',
 'Income 100000 to 124999',
 'Income 125000 to 149999',
 'Income 150000 to 199999',
 'Income 200000 or more',
 'Median household income',
 'Income Lowest Quintile',
 'Income Second Quintile',
 'Income Third Quintile',
 'Income Fourth Quintile',
 'Income Highest Quintile',
 'Income Top 5 Percent',
 'Veteran',
 'Nonveteran',
 'Population 16 and over',
 'In labor force',
 'Civilian in labor force',
 'Civilian Employed',
 'Civilian Unemployed',
 'In Armed Forces',
 'Total not in labor force',
 'Fulltime civilian employed 16 and over',
 'Male natural resources',
 'Male production transportation and material moving',
 'Female natural resources',
 'Female production transportation and material moving',
 'TOTAL HOUSING UNITS',
 'Occupied',
 'Vacant',
 'Occupied Housing units',
 'Owner occupied',
 'Renter occupied',
 'Owner occupied housing units',
 'Housing units with a mortgage',
 'Housing units without a mortgage',
 'renter occupied housing units',
 'Median gross rent',
 'Total owner occupied housing units',
 'Housing Value Below 10000',
 'Housing Value 10000 to 14999',
 'Housing Value 15000 to 19999',
 'Housing Value 20000 to 24999',
 'Housing Value 25000 to 29999',
 'Housing Value 30000 to 34999',
 'Housing Value 35000 to 39999',
 'Housing Value 40000 to 49999',
 'Housing Value 50000 to 59999',
 'Housing Value 60000 to 69999',
 'Housing Value 70000 to 79999',
 'Housing Value 80000 to 89999',
 'Housing Value 90000 to 99999',
 'Housing Value 100000 to 124999',
 'Housing Value 125000 to 149999',
 'Housing Value 150000 to 174999',
 'Housing Value 175000 to 199999',
 'Housing Value 200000 to 249999',
 'Housing Value 250000 to 299999',
 'Housing Value 300000 to 399999',
 'Housing Value 400000 to 499999',
 'Housing Value 500000 to 749999',
 'Housing Value 750000 to 999999',
 'Housing Value 1000000 to 1499999',
 'Median monthly owner costs',
 'yr_district_id',
 'M75_above',
 'F75_above',
 'M60_74',
 'F60_74',
 'M45_59',
 'F45_59',
 'M30_44',
 'F30_44',
 'M18_29',
 'F18_29',
 'M18_below',
 'F18_below',
 'M18_above',
 'F18_above',
 'M25_above',
 'F25_above',
 'Mpop_share',
 'Fpop_share',
 'M18_below_share',
 'F18_below_share',
 '18_below_share',
 'M18_above_share',
 'F18_above_share',
 '18_above_share',
 'M18_29_share',
 'F18_29_share',
 '18_29_share',
 'M30_44_share',
 'F30_44_share',
 '30_44_share',
 'M45_59_share',
 'F45_59_share',
 '45_59_share',
 'M60_74_share',
 'F60_74_share',
 '60_74_share',
 'M75_above_share',
 'F75_above_share',
 '75_above_share',
 'white_share',
 'black_share',
 'asian_share',
 'hispanic_share',
 'otherrace_share',
 'native_share',
 'nativeinstate_share',
 'nativeoutofstate_share',
 'foreignborn_share',
 'HS_below_share',
 'HS_share',
 'somecollege_share',
 'college_share',
 'graddeg_share',
 'samehouse_share',
 'samecounty_share',
 'samestate_share',
 'diffstate_share',
 'liveabroad_share',
 'ptransport_share',
 'walktowork_share',
 'workathome_share',
 'inschool_share',
 'incollege_share',
 'ingradschool_share',
 'M_college_share',
 'M_graddeg_share',
 'M_phd_share',
 'F_college_share',
 'F_graddeg_share',
 'F_phd_share',
 'poverty_share',
 'hhinc_10k_less_share',
 'hhinc_30k_less_share',
 'hhinc_50k_less_share',
 'hhinc_75k_more_share',
 'hhinc_100k_more_share',
 'hhinc_125k_more_share',
 'hhinc_150k_more_share',
 'hhinc_200k_more_share',
 'veteran_share',
 'LFP_share',
 'Unemp_rate',
 'armedforce_share',
 'naturalresourcesemp_share',
 'bluecollaremp_share',
 'vacanthousing_share',
 'renter_share',
 'mortgage_share',
 'housevalue_10k_less_share',
 'housevalue_50k_less_share',
 'housevalue_100k_less_share',
 'housevalue_300k_more_share',
 'housevalue_500k_more_share',
 'housevalue_750k_more_share',
 'housevalue_1m_more_share']

In [169]:
varlist = ['Mpop_share',
 'Fpop_share',
 'M18_below_share',
 'F18_below_share',
 '18_below_share',
 'M18_above_share',
 'F18_above_share',
 '18_above_share',
 'M18_29_share',
 'F18_29_share',
 '18_29_share',
 'M30_44_share',
 'F30_44_share',
 '30_44_share',
 'M45_59_share',
 'F45_59_share',
 '45_59_share',
 'M60_74_share',
 'F60_74_share',
 '60_74_share',
 'M75_above_share',
 'F75_above_share',
 '75_above_share',
 'white_share',
 'black_share',
 'asian_share',
 'hispanic_share',
 'otherrace_share',
 'native_share',
 'nativeinstate_share',
 'nativeoutofstate_share',
 'foreignborn_share',
 'HS_below_share',
 'HS_share',
 'somecollege_share',
 'college_share',
 'graddeg_share',
 'samehouse_share',
 'samecounty_share',
 'samestate_share',
 'diffstate_share',
 'liveabroad_share',
 'ptransport_share',
 'walktowork_share',
 'workathome_share',
 'inschool_share',
 'incollege_share',
 'ingradschool_share',
 'M_college_share',
 'M_graddeg_share',
 'M_phd_share',
 'F_college_share',
 'F_graddeg_share',
 'F_phd_share',
 'poverty_share',
 'hhinc_10k_less_share',
 'hhinc_30k_less_share',
 'hhinc_50k_less_share',
 'hhinc_75k_more_share',
 'hhinc_100k_more_share',
 'hhinc_125k_more_share',
 'hhinc_150k_more_share',
 'hhinc_200k_more_share',
 'veteran_share',
 'LFP_share',
 'Unemp_rate',
 'armedforce_share',
 'naturalresourcesemp_share',
 'bluecollaremp_share',
 'vacanthousing_share',
 'renter_share',
 'mortgage_share',
 'housevalue_10k_less_share',
 'housevalue_50k_less_share',
 'housevalue_100k_less_share',
 'housevalue_300k_more_share',
 'housevalue_500k_more_share',
 'housevalue_750k_more_share',
 'housevalue_1m_more_share']

In [170]:
for var in varlist:
    df[f'L1_{var}']= df[var].shift()
    df[f'L2_{var}']= df[var].shift(2)
    df[f'diff1_{var}'] = df[var] - df[f'L1_{var}']
    df[f'diff2_{var}'] = df[var] - df[f'L2_{var}']

In [174]:
df.columns = df.columns.str.replace(' ', '_').str.lower()

Split `acs_cleaned` by year (for the 9 variables that need to be standardized by year)

In [176]:
list(df.columns)

['district_id',
 'year',
 'total_male',
 'male_5_to_9_years',
 'male_10_to_14_years',
 'male_15_to_17_years',
 'male_18_and_19_years',
 'male_20_years',
 'male_21_years',
 'male_22_to_24_years',
 'male_25_to_29_years',
 'male_30_to_34_years',
 'male_35_to_39_years',
 'male_40_to_44_years',
 'male_45_to_49_years',
 'male_50_to_54_years',
 'male_55_to_59_years',
 'male_60_and_61_years',
 'male_62_to_64_years',
 'male_65_and_66_years',
 'male_67_to_69_years',
 'male_70_to_74_years',
 'male_75_to_79_years',
 'male_80_to_84_years',
 'male_85_years_and_over',
 'total_female',
 'female_5_to_9_years',
 'female_10_to_14_years',
 'female_15_to_17_years',
 'female_18_and_19_years',
 'female_20_years',
 'female_21_years',
 'female_22_to_24_years',
 'female_25_to_29_years',
 'female_30_to_34_years',
 'female_35_to_39_years',
 'female_40_to_44_years',
 'female_45_to_49_years',
 'female_50_to_54_years',
 'female_55_to_59_years',
 'female_60_and_61_years',
 'female_62_to_64_years',
 'female_65_and_66_years',
 'female_67_to_69_years',
 'female_70_to_74_years',
 'female_75_to_79_years',
 'female_80_to_84_years',
 'female_85_years_and_over',
 'total_population',
 'white_alone',
 'black_or_african_american_alone',
 'american_indian_and_alaska_native',
 'asian_alone',
 'native_hawaiian_and_other_pacific',
 'some_other_race_alone',
 'two_or_more_races',
 'not_hispanic_or_latino',
 'hispanic_or_latino',
 'native',
 'native_born_in_state_of_residence',
 'native_born_in_other_state',
 'native_born_outside_the_us',
 'foreign_born',
 'population_25_and_over',
 'less_than_high_school_graduate',
 'high_school_graduate',
 'some_college_or_associate_degree',
 'bachelors_degree',
 'graduate_or_professional_degree',
 'same_house_1_year_ago',
 'moved_within_same_county',
 'moved_from_different_county',
 'moved_from_different_state',
 'moved_from_abroad',
 'workers_16_and_over',
 'public_transportation',
 'walked',
 'worked_at_home',
 'enrolled_in_school',
 'enrolled_in_college',
 'enrolled_in_school_graduate_professional',
 'population_25_and_over',
 'male_bachelors',
 'male_master',
 'male_professional_school',
 'male_doctorate',
 'female_bachelor',
 'female_master',
 'female_professional_school',
 'female_doctorate',
 'income_below_poverty',
 'total_household_income',
 'income_less_than_10000',
 'income_10000_to_14999',
 'income_15000_to_19999',
 'income_20000_to_24999',
 'income_25000_to_29999',
 'income_30000_to_34999',
 'income_35000_to_39999',
 'income_40000_to_44999',
 'income_45000_to_49999',
 'income_50000_to_59999',
 'income_60000_to_74999',
 'income_75000_to_99999',
 'income_100000_to_124999',
 'income_125000_to_149999',
 'income_150000_to_199999',
 'income_200000_or_more',
 'median_household_income',
 'income_lowest_quintile',
 'income_second_quintile',
 'income_third_quintile',
 'income_fourth_quintile',
 'income_highest_quintile',
 'income_top_5_percent',
 'veteran',
 'nonveteran',
 'population_16_and_over',
 'in_labor_force',
 'civilian_in_labor_force',
 'civilian_employed',
 'civilian_unemployed',
 'in_armed_forces',
 'total_not_in_labor_force',
 'fulltime_civilian_employed_16_and_over',
 'male_natural_resources',
 'male_production_transportation_and_material_moving',
 'female_natural_resources',
 'female_production_transportation_and_material_moving',
 'total_housing_units',
 'occupied',
 'vacant',
 'occupied_housing_units',
 'owner_occupied',
 'renter_occupied',
 'owner_occupied_housing_units',
 'housing_units_with_a_mortgage',
 'housing_units_without_a_mortgage',
 'renter_occupied_housing_units',
 'median_gross_rent',
 'total_owner_occupied_housing_units',
 'housing_value_below_10000',
 'housing_value_10000_to_14999',
 'housing_value_15000_to_19999',
 'housing_value_20000_to_24999',
 'housing_value_25000_to_29999',
 'housing_value_30000_to_34999',
 'housing_value_35000_to_39999',
 'housing_value_40000_to_49999',
 'housing_value_50000_to_59999',
 'housing_value_60000_to_69999',
 'housing_value_70000_to_79999',
 'housing_value_80000_to_89999',
 'housing_value_90000_to_99999',
 'housing_value_100000_to_124999',
 'housing_value_125000_to_149999',
 'housing_value_150000_to_174999',
 'housing_value_175000_to_199999',
 'housing_value_200000_to_249999',
 'housing_value_250000_to_299999',
 'housing_value_300000_to_399999',
 'housing_value_400000_to_499999',
 'housing_value_500000_to_749999',
 'housing_value_750000_to_999999',
 'housing_value_1000000_to_1499999',
 'median_monthly_owner_costs',
 'yr_district_id',
 'm75_above',
 'f75_above',
 'm60_74',
 'f60_74',
 'm45_59',
 'f45_59',
 'm30_44',
 'f30_44',
 'm18_29',
 'f18_29',
 'm18_below',
 'f18_below',
 'm18_above',
 'f18_above',
 'm25_above',
 'f25_above',
 'mpop_share',
 'fpop_share',
 'm18_below_share',
 'f18_below_share',
 '18_below_share',
 'm18_above_share',
 'f18_above_share',
 '18_above_share',
 'm18_29_share',
 'f18_29_share',
 '18_29_share',
 'm30_44_share',
 'f30_44_share',
 '30_44_share',
 'm45_59_share',
 'f45_59_share',
 '45_59_share',
 'm60_74_share',
 'f60_74_share',
 '60_74_share',
 'm75_above_share',
 'f75_above_share',
 '75_above_share',
 'white_share',
 'black_share',
 'asian_share',
 'hispanic_share',
 'otherrace_share',
 'native_share',
 'nativeinstate_share',
 'nativeoutofstate_share',
 'foreignborn_share',
 'hs_below_share',
 'hs_share',
 'somecollege_share',
 'college_share',
 'graddeg_share',
 'samehouse_share',
 'samecounty_share',
 'samestate_share',
 'diffstate_share',
 'liveabroad_share',
 'ptransport_share',
 'walktowork_share',
 'workathome_share',
 'inschool_share',
 'incollege_share',
 'ingradschool_share',
 'm_college_share',
 'm_graddeg_share',
 'm_phd_share',
 'f_college_share',
 'f_graddeg_share',
 'f_phd_share',
 'poverty_share',
 'hhinc_10k_less_share',
 'hhinc_30k_less_share',
 'hhinc_50k_less_share',
 'hhinc_75k_more_share',
 'hhinc_100k_more_share',
 'hhinc_125k_more_share',
 'hhinc_150k_more_share',
 'hhinc_200k_more_share',
 'veteran_share',
 'lfp_share',
 'unemp_rate',
 'armedforce_share',
 'naturalresourcesemp_share',
 'bluecollaremp_share',
 'vacanthousing_share',
 'renter_share',
 'mortgage_share',
 'housevalue_10k_less_share',
 'housevalue_50k_less_share',
 'housevalue_100k_less_share',
 'housevalue_300k_more_share',
 'housevalue_500k_more_share',
 'housevalue_750k_more_share',
 'housevalue_1m_more_share',
 'l1_mpop_share',
 'l2_mpop_share',
 'diff1_mpop_share',
 'diff2_mpop_share',
 'l1_fpop_share',
 'l2_fpop_share',
 'diff1_fpop_share',
 'diff2_fpop_share',
 'l1_m18_below_share',
 'l2_m18_below_share',
 'diff1_m18_below_share',
 'diff2_m18_below_share',
 'l1_f18_below_share',
 'l2_f18_below_share',
 'diff1_f18_below_share',
 'diff2_f18_below_share',
 'l1_18_below_share',
 'l2_18_below_share',
 'diff1_18_below_share',
 'diff2_18_below_share',
 'l1_m18_above_share',
 'l2_m18_above_share',
 'diff1_m18_above_share',
 'diff2_m18_above_share',
 'l1_f18_above_share',
 'l2_f18_above_share',
 'diff1_f18_above_share',
 'diff2_f18_above_share',
 'l1_18_above_share',
 'l2_18_above_share',
 'diff1_18_above_share',
 'diff2_18_above_share',
 'l1_m18_29_share',
 'l2_m18_29_share',
 'diff1_m18_29_share',
 'diff2_m18_29_share',
 'l1_f18_29_share',
 'l2_f18_29_share',
 'diff1_f18_29_share',
 'diff2_f18_29_share',
 'l1_18_29_share',
 'l2_18_29_share',
 'diff1_18_29_share',
 'diff2_18_29_share',
 'l1_m30_44_share',
 'l2_m30_44_share',
 'diff1_m30_44_share',
 'diff2_m30_44_share',
 'l1_f30_44_share',
 'l2_f30_44_share',
 'diff1_f30_44_share',
 'diff2_f30_44_share',
 'l1_30_44_share',
 'l2_30_44_share',
 'diff1_30_44_share',
 'diff2_30_44_share',
 'l1_m45_59_share',
 'l2_m45_59_share',
 'diff1_m45_59_share',
 'diff2_m45_59_share',
 'l1_f45_59_share',
 'l2_f45_59_share',
 'diff1_f45_59_share',
 'diff2_f45_59_share',
 'l1_45_59_share',
 'l2_45_59_share',
 'diff1_45_59_share',
 'diff2_45_59_share',
 'l1_m60_74_share',
 'l2_m60_74_share',
 'diff1_m60_74_share',
 'diff2_m60_74_share',
 'l1_f60_74_share',
 'l2_f60_74_share',
 'diff1_f60_74_share',
 'diff2_f60_74_share',
 'l1_60_74_share',
 'l2_60_74_share',
 'diff1_60_74_share',
 'diff2_60_74_share',
 'l1_m75_above_share',
 'l2_m75_above_share',
 'diff1_m75_above_share',
 'diff2_m75_above_share',
 'l1_f75_above_share',
 'l2_f75_above_share',
 'diff1_f75_above_share',
 'diff2_f75_above_share',
 'l1_75_above_share',
 'l2_75_above_share',
 'diff1_75_above_share',
 'diff2_75_above_share',
 'l1_white_share',
 'l2_white_share',
 'diff1_white_share',
 'diff2_white_share',
 'l1_black_share',
 'l2_black_share',
 'diff1_black_share',
 'diff2_black_share',
 'l1_asian_share',
 'l2_asian_share',
 'diff1_asian_share',
 'diff2_asian_share',
 'l1_hispanic_share',
 'l2_hispanic_share',
 'diff1_hispanic_share',
 'diff2_hispanic_share',
 'l1_otherrace_share',
 'l2_otherrace_share',
 'diff1_otherrace_share',
 'diff2_otherrace_share',
 'l1_native_share',
 'l2_native_share',
 'diff1_native_share',
 'diff2_native_share',
 'l1_nativeinstate_share',
 'l2_nativeinstate_share',
 'diff1_nativeinstate_share',
 'diff2_nativeinstate_share',
 'l1_nativeoutofstate_share',
 'l2_nativeoutofstate_share',
 'diff1_nativeoutofstate_share',
 'diff2_nativeoutofstate_share',
 'l1_foreignborn_share',
 'l2_foreignborn_share',
 'diff1_foreignborn_share',
 'diff2_foreignborn_share',
 'l1_hs_below_share',
 'l2_hs_below_share',
 'diff1_hs_below_share',
 'diff2_hs_below_share',
 'l1_hs_share',
 'l2_hs_share',
 'diff1_hs_share',
 'diff2_hs_share',
 'l1_somecollege_share',
 'l2_somecollege_share',
 'diff1_somecollege_share',
 'diff2_somecollege_share',
 'l1_college_share',
 'l2_college_share',
 'diff1_college_share',
 'diff2_college_share',
 'l1_graddeg_share',
 'l2_graddeg_share',
 'diff1_graddeg_share',
 'diff2_graddeg_share',
 'l1_samehouse_share',
 'l2_samehouse_share',
 'diff1_samehouse_share',
 'diff2_samehouse_share',
 'l1_samecounty_share',
 'l2_samecounty_share',
 'diff1_samecounty_share',
 'diff2_samecounty_share',
 'l1_samestate_share',
 'l2_samestate_share',
 'diff1_samestate_share',
 'diff2_samestate_share',
 'l1_diffstate_share',
 'l2_diffstate_share',
 'diff1_diffstate_share',
 'diff2_diffstate_share',
 'l1_liveabroad_share',
 'l2_liveabroad_share',
 'diff1_liveabroad_share',
 'diff2_liveabroad_share',
 'l1_ptransport_share',
 'l2_ptransport_share',
 'diff1_ptransport_share',
 'diff2_ptransport_share',
 'l1_walktowork_share',
 'l2_walktowork_share',
 'diff1_walktowork_share',
 'diff2_walktowork_share',
 'l1_workathome_share',
 'l2_workathome_share',
 'diff1_workathome_share',
 'diff2_workathome_share',
 'l1_inschool_share',
 'l2_inschool_share',
 'diff1_inschool_share',
 'diff2_inschool_share',
 'l1_incollege_share',
 'l2_incollege_share',
 'diff1_incollege_share',
 'diff2_incollege_share',
 'l1_ingradschool_share',
 'l2_ingradschool_share',
 'diff1_ingradschool_share',
 'diff2_ingradschool_share',
 'l1_m_college_share',
 'l2_m_college_share',
 'diff1_m_college_share',
 'diff2_m_college_share',
 'l1_m_graddeg_share',
 'l2_m_graddeg_share',
 'diff1_m_graddeg_share',
 'diff2_m_graddeg_share',
 'l1_m_phd_share',
 'l2_m_phd_share',
 'diff1_m_phd_share',
 'diff2_m_phd_share',
 'l1_f_college_share',
 'l2_f_college_share',
 'diff1_f_college_share',
 'diff2_f_college_share',
 'l1_f_graddeg_share',
 'l2_f_graddeg_share',
 'diff1_f_graddeg_share',
 'diff2_f_graddeg_share',
 'l1_f_phd_share',
 'l2_f_phd_share',
 'diff1_f_phd_share',
 'diff2_f_phd_share',
 'l1_poverty_share',
 'l2_poverty_share',
 'diff1_poverty_share',
 'diff2_poverty_share',
 'l1_hhinc_10k_less_share',
 'l2_hhinc_10k_less_share',
 'diff1_hhinc_10k_less_share',
 'diff2_hhinc_10k_less_share',
 'l1_hhinc_30k_less_share',
 'l2_hhinc_30k_less_share',
 'diff1_hhinc_30k_less_share',
 'diff2_hhinc_30k_less_share',
 'l1_hhinc_50k_less_share',
 'l2_hhinc_50k_less_share',
 'diff1_hhinc_50k_less_share',
 'diff2_hhinc_50k_less_share',
 'l1_hhinc_75k_more_share',
 'l2_hhinc_75k_more_share',
 'diff1_hhinc_75k_more_share',
 'diff2_hhinc_75k_more_share',
 'l1_hhinc_100k_more_share',
 'l2_hhinc_100k_more_share',
 'diff1_hhinc_100k_more_share',
 'diff2_hhinc_100k_more_share',
 'l1_hhinc_125k_more_share',
 'l2_hhinc_125k_more_share',
 'diff1_hhinc_125k_more_share',
 'diff2_hhinc_125k_more_share',
 'l1_hhinc_150k_more_share',
 'l2_hhinc_150k_more_share',
 'diff1_hhinc_150k_more_share',
 'diff2_hhinc_150k_more_share',
 'l1_hhinc_200k_more_share',
 'l2_hhinc_200k_more_share',
 'diff1_hhinc_200k_more_share',
 'diff2_hhinc_200k_more_share',
 'l1_veteran_share',
 'l2_veteran_share',
 'diff1_veteran_share',
 'diff2_veteran_share',
 'l1_lfp_share',
 'l2_lfp_share',
 'diff1_lfp_share',
 'diff2_lfp_share',
 'l1_unemp_rate',
 'l2_unemp_rate',
 'diff1_unemp_rate',
 'diff2_unemp_rate',
 'l1_armedforce_share',
 'l2_armedforce_share',
 'diff1_armedforce_share',
 'diff2_armedforce_share',
 'l1_naturalresourcesemp_share',
 'l2_naturalresourcesemp_share',
 'diff1_naturalresourcesemp_share',
 'diff2_naturalresourcesemp_share',
 'l1_bluecollaremp_share',
 'l2_bluecollaremp_share',
 'diff1_bluecollaremp_share',
 'diff2_bluecollaremp_share',
 'l1_vacanthousing_share',
 'l2_vacanthousing_share',
 'diff1_vacanthousing_share',
 'diff2_vacanthousing_share',
 'l1_renter_share',
 'l2_renter_share',
 'diff1_renter_share',
 'diff2_renter_share',
 'l1_mortgage_share',
 'l2_mortgage_share',
 'diff1_mortgage_share',
 'diff2_mortgage_share',
 'l1_housevalue_10k_less_share',
 'l2_housevalue_10k_less_share',
 'diff1_housevalue_10k_less_share',
 'diff2_housevalue_10k_less_share',
 'l1_housevalue_50k_less_share',
 'l2_housevalue_50k_less_share',
 'diff1_housevalue_50k_less_share',
 'diff2_housevalue_50k_less_share',
 'l1_housevalue_100k_less_share',
 'l2_housevalue_100k_less_share',
 'diff1_housevalue_100k_less_share',
 'diff2_housevalue_100k_less_share',
 'l1_housevalue_300k_more_share',
 'l2_housevalue_300k_more_share',
 'diff1_housevalue_300k_more_share',
 'diff2_housevalue_300k_more_share',
 'l1_housevalue_500k_more_share',
 'l2_housevalue_500k_more_share',
 'diff1_housevalue_500k_more_share',
 'diff2_housevalue_500k_more_share',
 'l1_housevalue_750k_more_share',
 'l2_housevalue_750k_more_share',
 'diff1_housevalue_750k_more_share',
 'diff2_housevalue_750k_more_share',
 'l1_housevalue_1m_more_share',
 'l2_housevalue_1m_more_share',
 'diff1_housevalue_1m_more_share',
 'diff2_housevalue_1m_more_share']

In [185]:
numeric_columns = df[[
 'year',
 'median_household_income',
 'income_lowest_quintile',
 'income_second_quintile',
 'income_third_quintile',
 'income_fourth_quintile',
 'income_highest_quintile',
 'income_top_5_percent',
 'median_gross_rent',
 'median_monthly_owner_costs']]

In [186]:
print(numeric_columns.shape)
numeric_columns.head(20)

(3488, 10)

,year,median_household_income,income_lowest_quintile,income_second_quintile,income_third_quintile,income_fourth_quintile,income_highest_quintile,income_top_5_percent,median_gross_rent,median_monthly_owner_costs
0,2010,64576,16104,39894,64881,98871,186701,297729,981,1363
1,2011,67825,17365,42895,68144,98234,186685,302731,1049,1346
2,2012,67712,16888,41522,67807,101587,195887,310700,1120,1364
3,2013,72237,18887,46024,72626,106954,199299,319926,1117,1311
4,2014,71583,17950,44826,71820,107757,203119,326258,1183,1366
5,2015,73355,18458,45286,73491,108123,219022,380194,1163,1360
6,2016,76440,19349,48817,76333,112497,209564,330720,1208,1360
7,2017,73181,18086,46010,74254,111093,213924,350257,1201,1373
8,2010,41172,8233,23586,41310,63998,143402,245744,709,825
9,2011,43144,9379,24698,43453,68556,142062,238774,755,829
10,2012,41450,8354,23711,41830,66946,138206,227748,755,778
11,2013,42309,8831,24077,42596,67385,142835,240184,761,736
12,2014,44030,9483,25283,43892,70239,147256,244300,802,793
13,2015,44535,8988,25346,44620,70604,159396,281169,797,757
14,2016,47083,9274,26485,46822,75733,162357,274574,808,775
15,2017,47984,9859,27659,47680,76437,167499,295592,821,771
16,2010,40567,9213,23389,40557,63931,127730,204303,659,715
17,2011,40419,8871,23287,40443,64831,131439,219198,662,698
18,2012,40833,8803,23428,41063,65454,134949,219009,702,665
19,2013,41862,8866,24227,41946,67346,134609,221570,694,648

Look through years, building a dataframe of scaled data (retain indices to join with `acs_cleaned`)

In [188]:
data = numeric_columns.copy()
subset = data[data.year == '2010']
subset

,year,median_household_income,income_lowest_quintile,income_second_quintile,income_third_quintile,income_fourth_quintile,income_highest_quintile,income_top_5_percent,median_gross_rent,median_monthly_owner_costs
0,2010,64576,16104,39894,64881,98871,186701,297729,981,1363
8,2010,41172,8233,23586,41310,63998,143402,245744,709,825
16,2010,40567,9213,23389,40557,63931,127730,204303,659,715
24,2010,35452,7530,20011,35629,59089,124461,196940,640,715
32,2010,36715,9261,22086,36435,56113,120890,207021,573,598
40,2010,45856,9898,26684,45838,73615,157201,265284,628,783
48,2010,55559,13300,33516,55402,85574,181673,313449,834,1073
56,2010,31047,6543,17599,31023,50059,107293,173311,667,729
64,2010,33862,8374,20343,34098,54659,114533,185227,579,566
72,2010,43685,10456,26243,43936,69146,146717,252007,720,790
80,2010,40674,10500,25301,40694,63069,135958,232652,640,770
88,2010,35312,8650,21197,35232,56123,114945,184736,596,532
96,2010,40854,8934,24310,40714,61841,119738,189361,757,702
104,2010,47963,13665,31067,48040,71502,133119,204039,952,1080
112,2010,52327,12154,31542,52886,86409,200446,366143,855,1393
120,2010,31498,5360,18511,31432,49763,109926,181563,747,1046
128,2010,55876,12253,33450,56473,91487,213176,375356,883,1459
136,2010,56691,15892,36869,56631,85079,160318,256193,943,1296
144,2010,39777,9148,24324,39921,61790,114339,174744,765,952
152,2010,49825,11980,30821,49873,76290,157504,267597,801,1083
166,2010,48003,11617,27954,48183,76581,167827,289125,1002,1366
174,2010,42249,11018,25717,42508,66116,132901,218838,853,1079
182,2010,61853,16837,38628,62119,93074,173590,271786,1047,1713
190,2010,60629,14191,35897,61030,93740,181568,287601,1042,1695
198,2010,43953,10068,26248,44207,69097,140896,231488,940,1335
206,2010,64391,14395,38350,64946,103914,248390,449274,1293,2101
214,2010,61315,14536,38284,61975,93076,177320,274709,1189,1816
222,2010,69926,10865,35037,69436,115075,268849,488801,1356,2419
230,2010,53286,10110,29813,54364,90975,215690,364141,1097,2122
238,2010,75457,18093,46710,76169,117984,227673,352464,1311,2130
...,...,...,...,...,...,...,...,...,...,...
3242,2010,58773,14362,36083,58526,86083,160312,253674,902,1301
3250,2010,41134,9624,24810,41379,64631,143382,261825,712,769
3258,2010,45342,10835,27743,45318,69254,141798,239802,707,897
3266,2010,61653,17108,39347,62214,96796,199317,345113,955,1379
3274,2010,88668,22335,56562,88677,130426,266529,446692,1467,2078
3282,2010,35201,8448,20564,35148,56361,113274,181288,604,514
3290,2010,98789,25203,61086,98032,143915,275753,451189,1350,2189
3298,2010,105560,29168,68457,106349,152822,271218,411875,1540,2240
3306,2010,49406,11700,29540,49541,75032,153027,260159,823,1155
3314,2010,72438,18664,44752,72570,107586,199356,312529,1134,1838
3322,2010,54449,13133,33059,54335,79407,144674,225151,893,1454
3330,2010,51599,12417,32051,51673,77485,147369,237648,834,1290
3338,2010,46591,11652,28293,46838,73600,146748,247268,716,1000
3346,2010,44048,10424,26504,44303,68061,137201,228729,684,925
3354,2010,46683,11757,28983,46780,71170,136239,214588,843,1168
3362,2010,59358,11992,34993,59091,93505,211252,368128,984,1866
3370,2010,79260,21448,51814,79230,113406,233521,408301,1192,1904
3378,2010,54647,12989,33885,54794,80236,144774,220568,973,1527
3392,2010,55165,13860,32831,54967,81592,154803,249131,766,1263
3400,2010,54199,12982,33005,54665,82136,160829,262618,788,1310
3408,2010,46668,11607,28566,46974,70747,136132,226064,644,950
3416,2010,34138,8348,20636,34252,54387,109093,174074,731,1109
3424,2010,64869,17903,40491,65070,97229,197603,345485,812,1449
3432,2010,48999,14199,31087,48774,70799,130652,211310,637,983
3440,2010,43591,12019,27941,43813,65273,123920,199436,598,830
3448,2010,47469,12689,30340,47959,71158,135214,220396,644,1013
3456,2010,37859,8951,22513,38396,61912,128137,221452,589,469
3464,2010,41921,10409,24643,42036,65220,127848,204344,583,619
3472,2010,33922,8282,19966,34238,54536,109176,173997,541,397
3480,2010,53512,12988,32988,53912,80207,153453,252123,693,858

In [189]:
subset = subset.drop('year', axis=1)
indices = subset.index

scaler = StandardScaler()
subset_scaled = pd.DataFrame(scaler.fit_transform(subset),
                                           columns=subset.columns + '_scaled')

In [190]:
indices

Int64Index([   0,    8,   16,   24,   32,   40,   48,   56,   64,   72,
            ...
            3408, 3416, 3424, 3432, 3440, 3448, 3456, 3464, 3472, 3480],
           dtype='int64', length=436)

In [191]:
scaled_data = pd.DataFrame()
data = numeric_columns.copy()

for yr in ['2010','2011','2012','2013','2014','2015','2016','2017']:  # CHANGE RANGE
    print(yr)
    subset = data[data.year == yr]
    subset = subset.drop('year', axis=1)
    indices = subset.index
    
    scaler = StandardScaler()
    subset_scaled = pd.DataFrame(scaler.fit_transform(subset),
                                               columns=subset.columns + '_scaled')
    subset_scaled.index = indices
    scaled_data = pd.concat([scaled_data, subset_scaled], sort=False)

2010
2011
2012
2013
2014
2015
2016
2017

In [195]:
scaled_data.head()

,median_household_income_scaled,income_lowest_quintile_scaled,income_second_quintile_scaled,income_third_quintile_scaled,income_fourth_quintile_scaled,income_highest_quintile_scaled,income_top_5_percent_scaled,median_gross_rent_scaled,median_monthly_owner_costs_scaled
0,0.982807,1.088494,1.037140,0.989846,0.966714,0.431134,0.169088,0.474385,0.244528
8,-0.761755,-1.078711,-0.859282,-0.760964,-0.796561,-0.478695,-0.376052,-0.702320,-0.862029
16,-0.806852,-0.808878,-0.882191,-0.816896,-0.799948,-0.808006,-0.810622,-0.918627,-1.088277
24,-1.188130,-1.272276,-1.275011,-1.182939,-1.044773,-0.876696,-0.887834,-1.000823,-1.088277
32,-1.093985,-0.795661,-1.033714,-1.123070,-1.195248,-0.951732,-0.782120,-1.290673,-1.328922

### Merge `scaled_data` with `acs_cleaned`

In [194]:
print(df.shape)
df.head()

(3488, 578)

,district_id,year,total_male,male_5_to_9_years,male_10_to_14_years,male_15_to_17_years,male_18_and_19_years,male_20_years,male_21_years,male_22_to_24_years,...,diff1_housevalue_500k_more_share,diff2_housevalue_500k_more_share,l1_housevalue_750k_more_share,l2_housevalue_750k_more_share,diff1_housevalue_750k_more_share,diff2_housevalue_750k_more_share,l1_housevalue_1m_more_share,l2_housevalue_1m_more_share,diff1_housevalue_1m_more_share,diff2_housevalue_1m_more_share
0,AK-00,2010,372436,26347,28085,16477,10063,6832,7412,15550,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AK-00,2011,372916,26470,26684,15011,10360,7715,7243,17620,...,-0.003834,NaN,0.017237,NaN,-0.002537,NaN,0.005959,NaN,-0.000007,NaN
2,AK-00,2012,381094,27033,26425,15899,12008,5837,7258,19766,...,-0.009130,-0.012964,0.014700,0.017237,0.002330,-0.000208,0.005952,0.005959,-0.000200,-0.000207
3,AK-00,2013,386404,26989,27265,15762,13616,7275,5951,20382,...,0.011725,0.002595,0.017030,0.014700,0.002534,0.004863,0.005752,0.005952,-0.000115,-0.000314
4,AK-00,2014,385582,27517,25859,14719,11840,6167,8413,22074,...,0.000802,0.012527,0.019564,0.017030,-0.002013,0.000521,0.005637,0.005752,-0.000073,-0.000188

In [196]:
acs_cleaned_w_scaled_cols = pd.merge(df, 
                                     scaled_data,
                                     how='left', 
                                     left_index=True, 
                                     right_index=True)
acs_cleaned_w_scaled_cols.shape

(3488, 587)

In [197]:
acs_cleaned_w_scaled_cols.head()

,district_id,year,total_male,male_5_to_9_years,male_10_to_14_years,male_15_to_17_years,male_18_and_19_years,male_20_years,male_21_years,male_22_to_24_years,...,diff2_housevalue_1m_more_share,median_household_income_scaled,income_lowest_quintile_scaled,income_second_quintile_scaled,income_third_quintile_scaled,income_fourth_quintile_scaled,income_highest_quintile_scaled,income_top_5_percent_scaled,median_gross_rent_scaled,median_monthly_owner_costs_scaled
0,AK-00,2010,372436,26347,28085,16477,10063,6832,7412,15550,...,NaN,0.982807,1.088494,1.037140,0.989846,0.966714,0.431134,0.169088,0.474385,0.244528
1,AK-00,2011,372916,26470,26684,15011,10360,7715,7243,17620,...,NaN,1.156418,1.498107,1.359730,1.159262,0.819675,0.304948,0.105446,0.676923,0.243687
2,AK-00,2012,381094,27033,26425,15899,12008,5837,7258,19766,...,-0.000207,1.009395,1.233930,1.062892,1.000890,0.870943,0.407658,0.111978,0.876998,0.356498
3,AK-00,2013,386404,26989,27265,15762,13616,7275,5951,20382,...,-0.000314,1.215528,1.727214,1.477517,1.228937,0.989080,0.298437,0.019899,0.735283,0.342280
4,AK-00,2014,385582,27517,25859,14719,11840,6167,8413,22074,...,-0.000188,1.031384,1.322739,1.190804,1.032255,0.892237,0.285165,0.023688,0.829523,0.435842

In [199]:
svarlist = list(scaled_data.columns)
svarlist

['median_household_income_scaled',
 'income_lowest_quintile_scaled',
 'income_second_quintile_scaled',
 'income_third_quintile_scaled',
 'income_fourth_quintile_scaled',
 'income_highest_quintile_scaled',
 'income_top_5_percent_scaled',
 'median_gross_rent_scaled',
 'median_monthly_owner_costs_scaled']

In [200]:
for svar in svarlist:
    acs_cleaned_w_scaled_cols[f'L1_{svar}']= acs_cleaned_w_scaled_cols[svar].shift()
    acs_cleaned_w_scaled_cols[f'L2_{svar}']= acs_cleaned_w_scaled_cols[svar].shift(2)
    acs_cleaned_w_scaled_cols[f'diff1_{svar}'] = acs_cleaned_w_scaled_cols[svar] - acs_cleaned_w_scaled_cols[f'L1_{svar}']
    acs_cleaned_w_scaled_cols[f'diff2_{svar}'] = acs_cleaned_w_scaled_cols[svar] - acs_cleaned_w_scaled_cols[f'L2_{svar}']

In [202]:
list(acs_cleaned_w_scaled_cols.columns)

['district_id',
 'year',
 'total_male',
 'male_5_to_9_years',
 'male_10_to_14_years',
 'male_15_to_17_years',
 'male_18_and_19_years',
 'male_20_years',
 'male_21_years',
 'male_22_to_24_years',
 'male_25_to_29_years',
 'male_30_to_34_years',
 'male_35_to_39_years',
 'male_40_to_44_years',
 'male_45_to_49_years',
 'male_50_to_54_years',
 'male_55_to_59_years',
 'male_60_and_61_years',
 'male_62_to_64_years',
 'male_65_and_66_years',
 'male_67_to_69_years',
 'male_70_to_74_years',
 'male_75_to_79_years',
 'male_80_to_84_years',
 'male_85_years_and_over',
 'total_female',
 'female_5_to_9_years',
 'female_10_to_14_years',
 'female_15_to_17_years',
 'female_18_and_19_years',
 'female_20_years',
 'female_21_years',
 'female_22_to_24_years',
 'female_25_to_29_years',
 'female_30_to_34_years',
 'female_35_to_39_years',
 'female_40_to_44_years',
 'female_45_to_49_years',
 'female_50_to_54_years',
 'female_55_to_59_years',
 'female_60_and_61_years',
 'female_62_to_64_years',
 'female_65_and_66_years',
 'female_67_to_69_years',
 'female_70_to_74_years',
 'female_75_to_79_years',
 'female_80_to_84_years',
 'female_85_years_and_over',
 'total_population',
 'white_alone',
 'black_or_african_american_alone',
 'american_indian_and_alaska_native',
 'asian_alone',
 'native_hawaiian_and_other_pacific',
 'some_other_race_alone',
 'two_or_more_races',
 'not_hispanic_or_latino',
 'hispanic_or_latino',
 'native',
 'native_born_in_state_of_residence',
 'native_born_in_other_state',
 'native_born_outside_the_us',
 'foreign_born',
 'population_25_and_over',
 'less_than_high_school_graduate',
 'high_school_graduate',
 'some_college_or_associate_degree',
 'bachelors_degree',
 'graduate_or_professional_degree',
 'same_house_1_year_ago',
 'moved_within_same_county',
 'moved_from_different_county',
 'moved_from_different_state',
 'moved_from_abroad',
 'workers_16_and_over',
 'public_transportation',
 'walked',
 'worked_at_home',
 'enrolled_in_school',
 'enrolled_in_college',
 'enrolled_in_school_graduate_professional',
 'population_25_and_over',
 'male_bachelors',
 'male_master',
 'male_professional_school',
 'male_doctorate',
 'female_bachelor',
 'female_master',
 'female_professional_school',
 'female_doctorate',
 'income_below_poverty',
 'total_household_income',
 'income_less_than_10000',
 'income_10000_to_14999',
 'income_15000_to_19999',
 'income_20000_to_24999',
 'income_25000_to_29999',
 'income_30000_to_34999',
 'income_35000_to_39999',
 'income_40000_to_44999',
 'income_45000_to_49999',
 'income_50000_to_59999',
 'income_60000_to_74999',
 'income_75000_to_99999',
 'income_100000_to_124999',
 'income_125000_to_149999',
 'income_150000_to_199999',
 'income_200000_or_more',
 'median_household_income',
 'income_lowest_quintile',
 'income_second_quintile',
 'income_third_quintile',
 'income_fourth_quintile',
 'income_highest_quintile',
 'income_top_5_percent',
 'veteran',
 'nonveteran',
 'population_16_and_over',
 'in_labor_force',
 'civilian_in_labor_force',
 'civilian_employed',
 'civilian_unemployed',
 'in_armed_forces',
 'total_not_in_labor_force',
 'fulltime_civilian_employed_16_and_over',
 'male_natural_resources',
 'male_production_transportation_and_material_moving',
 'female_natural_resources',
 'female_production_transportation_and_material_moving',
 'total_housing_units',
 'occupied',
 'vacant',
 'occupied_housing_units',
 'owner_occupied',
 'renter_occupied',
 'owner_occupied_housing_units',
 'housing_units_with_a_mortgage',
 'housing_units_without_a_mortgage',
 'renter_occupied_housing_units',
 'median_gross_rent',
 'total_owner_occupied_housing_units',
 'housing_value_below_10000',
 'housing_value_10000_to_14999',
 'housing_value_15000_to_19999',
 'housing_value_20000_to_24999',
 'housing_value_25000_to_29999',
 'housing_value_30000_to_34999',
 'housing_value_35000_to_39999',
 'housing_value_40000_to_49999',
 'housing_value_50000_to_59999',
 'housing_value_60000_to_69999',
 'housing_value_70000_to_79999',
 'housing_value_80000_to_89999',
 'housing_value_90000_to_99999',
 'housing_value_100000_to_124999',
 'housing_value_125000_to_149999',
 'housing_value_150000_to_174999',
 'housing_value_175000_to_199999',
 'housing_value_200000_to_249999',
 'housing_value_250000_to_299999',
 'housing_value_300000_to_399999',
 'housing_value_400000_to_499999',
 'housing_value_500000_to_749999',
 'housing_value_750000_to_999999',
 'housing_value_1000000_to_1499999',
 'median_monthly_owner_costs',
 'yr_district_id',
 'm75_above',
 'f75_above',
 'm60_74',
 'f60_74',
 'm45_59',
 'f45_59',
 'm30_44',
 'f30_44',
 'm18_29',
 'f18_29',
 'm18_below',
 'f18_below',
 'm18_above',
 'f18_above',
 'm25_above',
 'f25_above',
 'mpop_share',
 'fpop_share',
 'm18_below_share',
 'f18_below_share',
 '18_below_share',
 'm18_above_share',
 'f18_above_share',
 '18_above_share',
 'm18_29_share',
 'f18_29_share',
 '18_29_share',
 'm30_44_share',
 'f30_44_share',
 '30_44_share',
 'm45_59_share',
 'f45_59_share',
 '45_59_share',
 'm60_74_share',
 'f60_74_share',
 '60_74_share',
 'm75_above_share',
 'f75_above_share',
 '75_above_share',
 'white_share',
 'black_share',
 'asian_share',
 'hispanic_share',
 'otherrace_share',
 'native_share',
 'nativeinstate_share',
 'nativeoutofstate_share',
 'foreignborn_share',
 'hs_below_share',
 'hs_share',
 'somecollege_share',
 'college_share',
 'graddeg_share',
 'samehouse_share',
 'samecounty_share',
 'samestate_share',
 'diffstate_share',
 'liveabroad_share',
 'ptransport_share',
 'walktowork_share',
 'workathome_share',
 'inschool_share',
 'incollege_share',
 'ingradschool_share',
 'm_college_share',
 'm_graddeg_share',
 'm_phd_share',
 'f_college_share',
 'f_graddeg_share',
 'f_phd_share',
 'poverty_share',
 'hhinc_10k_less_share',
 'hhinc_30k_less_share',
 'hhinc_50k_less_share',
 'hhinc_75k_more_share',
 'hhinc_100k_more_share',
 'hhinc_125k_more_share',
 'hhinc_150k_more_share',
 'hhinc_200k_more_share',
 'veteran_share',
 'lfp_share',
 'unemp_rate',
 'armedforce_share',
 'naturalresourcesemp_share',
 'bluecollaremp_share',
 'vacanthousing_share',
 'renter_share',
 'mortgage_share',
 'housevalue_10k_less_share',
 'housevalue_50k_less_share',
 'housevalue_100k_less_share',
 'housevalue_300k_more_share',
 'housevalue_500k_more_share',
 'housevalue_750k_more_share',
 'housevalue_1m_more_share',
 'l1_mpop_share',
 'l2_mpop_share',
 'diff1_mpop_share',
 'diff2_mpop_share',
 'l1_fpop_share',
 'l2_fpop_share',
 'diff1_fpop_share',
 'diff2_fpop_share',
 'l1_m18_below_share',
 'l2_m18_below_share',
 'diff1_m18_below_share',
 'diff2_m18_below_share',
 'l1_f18_below_share',
 'l2_f18_below_share',
 'diff1_f18_below_share',
 'diff2_f18_below_share',
 'l1_18_below_share',
 'l2_18_below_share',
 'diff1_18_below_share',
 'diff2_18_below_share',
 'l1_m18_above_share',
 'l2_m18_above_share',
 'diff1_m18_above_share',
 'diff2_m18_above_share',
 'l1_f18_above_share',
 'l2_f18_above_share',
 'diff1_f18_above_share',
 'diff2_f18_above_share',
 'l1_18_above_share',
 'l2_18_above_share',
 'diff1_18_above_share',
 'diff2_18_above_share',
 'l1_m18_29_share',
 'l2_m18_29_share',
 'diff1_m18_29_share',
 'diff2_m18_29_share',
 'l1_f18_29_share',
 'l2_f18_29_share',
 'diff1_f18_29_share',
 'diff2_f18_29_share',
 'l1_18_29_share',
 'l2_18_29_share',
 'diff1_18_29_share',
 'diff2_18_29_share',
 'l1_m30_44_share',
 'l2_m30_44_share',
 'diff1_m30_44_share',
 'diff2_m30_44_share',
 'l1_f30_44_share',
 'l2_f30_44_share',
 'diff1_f30_44_share',
 'diff2_f30_44_share',
 'l1_30_44_share',
 'l2_30_44_share',
 'diff1_30_44_share',
 'diff2_30_44_share',
 'l1_m45_59_share',
 'l2_m45_59_share',
 'diff1_m45_59_share',
 'diff2_m45_59_share',
 'l1_f45_59_share',
 'l2_f45_59_share',
 'diff1_f45_59_share',
 'diff2_f45_59_share',
 'l1_45_59_share',
 'l2_45_59_share',
 'diff1_45_59_share',
 'diff2_45_59_share',
 'l1_m60_74_share',
 'l2_m60_74_share',
 'diff1_m60_74_share',
 'diff2_m60_74_share',
 'l1_f60_74_share',
 'l2_f60_74_share',
 'diff1_f60_74_share',
 'diff2_f60_74_share',
 'l1_60_74_share',
 'l2_60_74_share',
 'diff1_60_74_share',
 'diff2_60_74_share',
 'l1_m75_above_share',
 'l2_m75_above_share',
 'diff1_m75_above_share',
 'diff2_m75_above_share',
 'l1_f75_above_share',
 'l2_f75_above_share',
 'diff1_f75_above_share',
 'diff2_f75_above_share',
 'l1_75_above_share',
 'l2_75_above_share',
 'diff1_75_above_share',
 'diff2_75_above_share',
 'l1_white_share',
 'l2_white_share',
 'diff1_white_share',
 'diff2_white_share',
 'l1_black_share',
 'l2_black_share',
 'diff1_black_share',
 'diff2_black_share',
 'l1_asian_share',
 'l2_asian_share',
 'diff1_asian_share',
 'diff2_asian_share',
 'l1_hispanic_share',
 'l2_hispanic_share',
 'diff1_hispanic_share',
 'diff2_hispanic_share',
 'l1_otherrace_share',
 'l2_otherrace_share',
 'diff1_otherrace_share',
 'diff2_otherrace_share',
 'l1_native_share',
 'l2_native_share',
 'diff1_native_share',
 'diff2_native_share',
 'l1_nativeinstate_share',
 'l2_nativeinstate_share',
 'diff1_nativeinstate_share',
 'diff2_nativeinstate_share',
 'l1_nativeoutofstate_share',
 'l2_nativeoutofstate_share',
 'diff1_nativeoutofstate_share',
 'diff2_nativeoutofstate_share',
 'l1_foreignborn_share',
 'l2_foreignborn_share',
 'diff1_foreignborn_share',
 'diff2_foreignborn_share',
 'l1_hs_below_share',
 'l2_hs_below_share',
 'diff1_hs_below_share',
 'diff2_hs_below_share',
 'l1_hs_share',
 'l2_hs_share',
 'diff1_hs_share',
 'diff2_hs_share',
 'l1_somecollege_share',
 'l2_somecollege_share',
 'diff1_somecollege_share',
 'diff2_somecollege_share',
 'l1_college_share',
 'l2_college_share',
 'diff1_college_share',
 'diff2_college_share',
 'l1_graddeg_share',
 'l2_graddeg_share',
 'diff1_graddeg_share',
 'diff2_graddeg_share',
 'l1_samehouse_share',
 'l2_samehouse_share',
 'diff1_samehouse_share',
 'diff2_samehouse_share',
 'l1_samecounty_share',
 'l2_samecounty_share',
 'diff1_samecounty_share',
 'diff2_samecounty_share',
 'l1_samestate_share',
 'l2_samestate_share',
 'diff1_samestate_share',
 'diff2_samestate_share',
 'l1_diffstate_share',
 'l2_diffstate_share',
 'diff1_diffstate_share',
 'diff2_diffstate_share',
 'l1_liveabroad_share',
 'l2_liveabroad_share',
 'diff1_liveabroad_share',
 'diff2_liveabroad_share',
 'l1_ptransport_share',
 'l2_ptransport_share',
 'diff1_ptransport_share',
 'diff2_ptransport_share',
 'l1_walktowork_share',
 'l2_walktowork_share',
 'diff1_walktowork_share',
 'diff2_walktowork_share',
 'l1_workathome_share',
 'l2_workathome_share',
 'diff1_workathome_share',
 'diff2_workathome_share',
 'l1_inschool_share',
 'l2_inschool_share',
 'diff1_inschool_share',
 'diff2_inschool_share',
 'l1_incollege_share',
 'l2_incollege_share',
 'diff1_incollege_share',
 'diff2_incollege_share',
 'l1_ingradschool_share',
 'l2_ingradschool_share',
 'diff1_ingradschool_share',
 'diff2_ingradschool_share',
 'l1_m_college_share',
 'l2_m_college_share',
 'diff1_m_college_share',
 'diff2_m_college_share',
 'l1_m_graddeg_share',
 'l2_m_graddeg_share',
 'diff1_m_graddeg_share',
 'diff2_m_graddeg_share',
 'l1_m_phd_share',
 'l2_m_phd_share',
 'diff1_m_phd_share',
 'diff2_m_phd_share',
 'l1_f_college_share',
 'l2_f_college_share',
 'diff1_f_college_share',
 'diff2_f_college_share',
 'l1_f_graddeg_share',
 'l2_f_graddeg_share',
 'diff1_f_graddeg_share',
 'diff2_f_graddeg_share',
 'l1_f_phd_share',
 'l2_f_phd_share',
 'diff1_f_phd_share',
 'diff2_f_phd_share',
 'l1_poverty_share',
 'l2_poverty_share',
 'diff1_poverty_share',
 'diff2_poverty_share',
 'l1_hhinc_10k_less_share',
 'l2_hhinc_10k_less_share',
 'diff1_hhinc_10k_less_share',
 'diff2_hhinc_10k_less_share',
 'l1_hhinc_30k_less_share',
 'l2_hhinc_30k_less_share',
 'diff1_hhinc_30k_less_share',
 'diff2_hhinc_30k_less_share',
 'l1_hhinc_50k_less_share',
 'l2_hhinc_50k_less_share',
 'diff1_hhinc_50k_less_share',
 'diff2_hhinc_50k_less_share',
 'l1_hhinc_75k_more_share',
 'l2_hhinc_75k_more_share',
 'diff1_hhinc_75k_more_share',
 'diff2_hhinc_75k_more_share',
 'l1_hhinc_100k_more_share',
 'l2_hhinc_100k_more_share',
 'diff1_hhinc_100k_more_share',
 'diff2_hhinc_100k_more_share',
 'l1_hhinc_125k_more_share',
 'l2_hhinc_125k_more_share',
 'diff1_hhinc_125k_more_share',
 'diff2_hhinc_125k_more_share',
 'l1_hhinc_150k_more_share',
 'l2_hhinc_150k_more_share',
 'diff1_hhinc_150k_more_share',
 'diff2_hhinc_150k_more_share',
 'l1_hhinc_200k_more_share',
 'l2_hhinc_200k_more_share',
 'diff1_hhinc_200k_more_share',
 'diff2_hhinc_200k_more_share',
 'l1_veteran_share',
 'l2_veteran_share',
 'diff1_veteran_share',
 'diff2_veteran_share',
 'l1_lfp_share',
 'l2_lfp_share',
 'diff1_lfp_share',
 'diff2_lfp_share',
 'l1_unemp_rate',
 'l2_unemp_rate',
 'diff1_unemp_rate',
 'diff2_unemp_rate',
 'l1_armedforce_share',
 'l2_armedforce_share',
 'diff1_armedforce_share',
 'diff2_armedforce_share',
 'l1_naturalresourcesemp_share',
 'l2_naturalresourcesemp_share',
 'diff1_naturalresourcesemp_share',
 'diff2_naturalresourcesemp_share',
 'l1_bluecollaremp_share',
 'l2_bluecollaremp_share',
 'diff1_bluecollaremp_share',
 'diff2_bluecollaremp_share',
 'l1_vacanthousing_share',
 'l2_vacanthousing_share',
 'diff1_vacanthousing_share',
 'diff2_vacanthousing_share',
 'l1_renter_share',
 'l2_renter_share',
 'diff1_renter_share',
 'diff2_renter_share',
 'l1_mortgage_share',
 'l2_mortgage_share',
 'diff1_mortgage_share',
 'diff2_mortgage_share',
 'l1_housevalue_10k_less_share',
 'l2_housevalue_10k_less_share',
 'diff1_housevalue_10k_less_share',
 'diff2_housevalue_10k_less_share',
 'l1_housevalue_50k_less_share',
 'l2_housevalue_50k_less_share',
 'diff1_housevalue_50k_less_share',
 'diff2_housevalue_50k_less_share',
 'l1_housevalue_100k_less_share',
 'l2_housevalue_100k_less_share',
 'diff1_housevalue_100k_less_share',
 'diff2_housevalue_100k_less_share',
 'l1_housevalue_300k_more_share',
 'l2_housevalue_300k_more_share',
 'diff1_housevalue_300k_more_share',
 'diff2_housevalue_300k_more_share',
 'l1_housevalue_500k_more_share',
 'l2_housevalue_500k_more_share',
 'diff1_housevalue_500k_more_share',
 'diff2_housevalue_500k_more_share',
 'l1_housevalue_750k_more_share',
 'l2_housevalue_750k_more_share',
 'diff1_housevalue_750k_more_share',
 'diff2_housevalue_750k_more_share',
 'l1_housevalue_1m_more_share',
 'l2_housevalue_1m_more_share',
 'diff1_housevalue_1m_more_share',
 'diff2_housevalue_1m_more_share',
 'median_household_income_scaled',
 'income_lowest_quintile_scaled',
 'income_second_quintile_scaled',
 'income_third_quintile_scaled',
 'income_fourth_quintile_scaled',
 'income_highest_quintile_scaled',
 'income_top_5_percent_scaled',
 'median_gross_rent_scaled',
 'median_monthly_owner_costs_scaled',
 'L1_median_household_income_scaled',
 'L2_median_household_income_scaled',
 'diff1_median_household_income_scaled',
 'diff2_median_household_income_scaled',
 'L1_income_lowest_quintile_scaled',
 'L2_income_lowest_quintile_scaled',
 'diff1_income_lowest_quintile_scaled',
 'diff2_income_lowest_quintile_scaled',
 'L1_income_second_quintile_scaled',
 'L2_income_second_quintile_scaled',
 'diff1_income_second_quintile_scaled',
 'diff2_income_second_quintile_scaled',
 'L1_income_third_quintile_scaled',
 'L2_income_third_quintile_scaled',
 'diff1_income_third_quintile_scaled',
 'diff2_income_third_quintile_scaled',
 'L1_income_fourth_quintile_scaled',
 'L2_income_fourth_quintile_scaled',
 'diff1_income_fourth_quintile_scaled',
 'diff2_income_fourth_quintile_scaled',
 'L1_income_highest_quintile_scaled',
 'L2_income_highest_quintile_scaled',
 'diff1_income_highest_quintile_scaled',
 'diff2_income_highest_quintile_scaled',
 'L1_income_top_5_percent_scaled',
 'L2_income_top_5_percent_scaled',
 'diff1_income_top_5_percent_scaled',
 'diff2_income_top_5_percent_scaled',
 'L1_median_gross_rent_scaled',
 'L2_median_gross_rent_scaled',
 'diff1_median_gross_rent_scaled',
 'diff2_median_gross_rent_scaled',
 'L1_median_monthly_owner_costs_scaled',
 'L2_median_monthly_owner_costs_scaled',
 'diff1_median_monthly_owner_costs_scaled',
 'diff2_median_monthly_owner_costs_scaled']

In [203]:
acs_cleaned_w_scaled_cols.to_csv('ACS_Features_1218_FIXED.csv', index= False)